
.bg {

    &--grey {
        background-color: @bg-light-grey;
    }

    &--white {
        background-color: @bg-white;
    }

    &--arrow-down {
        height: 53px;

        .icon-big-corner;
        background-position: center 0;

        .no-svg & {
            background-image: url('@{imgPath}/big-corner.png');
        }
    }
}

.bg-paw {

    background-image:   url('@{imgPath}/small-paw-right.svg'),
                        url('@{imgPath}/small-paw-left.svg'),
                        url('@{imgPath}/small-paw-right.svg'),
                        url('@{imgPath}/small-paw-left.svg'),
                        url('@{imgPath}/small-paw-right.svg'),
                        url('@{imgPath}/small-paw-left.svg'),
                        url('@{imgPath}/small-paw-right.svg'),
                        url('@{imgPath}/small-paw-left.svg');

    background-position:    right 18px top 121px,
                            right 285px top 65px,
                            right 230px top 332px,
                            right 497px top 278px,
                            right 443px top 545px,
                            right 709px top 490px,
                            right 654px top 756px,
                            right 924px top 701px;

    @media screen and (min-width: 1260px) {

        background-position:    right 1.43% top 121px,
                                right 22.6% top 65px,
                                right 18.25% top 332px,
                                right 39.44% top 278px,
                                right 35.16% top 545px,
                                right 56.27% top 490px,
                                right 51.9% top 756px,
                                right 73.33% top 701px;
    }        

    background-size: 114px auto;

    background-repeat: no-repeat;
    background-color: @bg-light-grey;

    .no-svg & {
        background-image:   url('@{imgPath}/small-paw-right.png'),
                            url('@{imgPath}/small-paw-left.png'),
                            url('@{imgPath}/small-paw-right.png'),
                            url('@{imgPath}/small-paw-left.png'),
                            url('@{imgPath}/small-paw-right.png'),
                            url('@{imgPath}/small-paw-left.png'),
                            url('@{imgPath}/small-paw-right.png'),
                            url('@{imgPath}/small-paw-left.png');
    }
}
