
/*Bottom
*******************************************************************************************************************************/


.bottom {

	&-inner {
		min-height: 380px;
		height: 100%;

		&--stay,
		&--vacancies,
		&--next-game,
		&--our-company  {
			position: absolute;
			left: 0;
			top: 15.7%;
			width: 100%;

			padding-bottom: 40px;
			 @media all and (max-height: 380px) {
	            top: 10%;
	        }
		}

		&--next-game {

			top: 11.1%;

			.bottom-inner-pre-title {
				margin-bottom: -7px;
			}

			.bottom-inner-title {
				margin-bottom: 23px;
			}
		}
	}
}
