//------------------------------------------------
//      buttons-for-all-site
//------------------------------------------------

.btn {
    display: block;
    width: 100%;
    // max-width: 280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    // .fs(18px, 58px);
    .fs(18px, 32px);
    padding-top: 13px;
    padding-bottom: 13px;

    font-family: @font-serif-bold;
    text-align: center;
    color: #fff;
    font-weight: normal;

    border: 0 none;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.6);
    .border-radius(3px);

    background-color: transparent;
    -webkit-appearance: none !important;

    @media screen and (max-width: 619px) {
        font-size: 15px;
    }

    .no-svg & {
        .transition(none);
    }

    &.btn--disabled {

        &.btn--violet,
        &.btn--green {
            background: @bg-grey-disabled;
            border-color: @bg-grey-disabled;
            color: @txt-grey-disabled;
            cursor: default;

            &:hover,
            &:focus {
                background: @bg-grey-disabled;
                border-color: @bg-grey-disabled;
                color: @txt-grey-disabled;
            }
        }
    }

    &:hover,
    &:focus {
        color: @txt-violet;
        border: 1px solid @brd-white;
        background: @bg-white;
        // color: @txt-green;
        // border: 1px solid @brd-green;

        .no-svg & {
            .transition(none);
        }
    }

    &--block {
        display: block;
        position: relative;
    }

    &--inline-block {
        display: inline-block;
        position: relative;

    }

    //button-size
    //------------------------------------------------

    &--maw {
        max-width: 100%;

        @media screen and (max-width: 619px) {
            max-width: 80%;
        }
        @media all and (max-width: 480px) {
            max-width: 100%;
        }
    }

    //button-color
    //------------------------------------------------

    &--violet {
        border: 1px solid @brd-violet;
        border-color: rgba(97, 17, 106, 0.6);

        color: @txt-violet;

        .no-svg & {
            .transition(none);
        }

        &:hover,
        &:focus {
            color: #fff;
            background-color: @btn-violet;
            border: 1px solid @brd-violet;

            .no-svg & {
                .transition(none);
            }
        }
    }

    &--green {
        background-color: @btn-green;
        color: #fff;
        border: 1px solid @brd-green;

        .no-svg & {
            .transition(none);
        }

        &:hover,
        &:focus {
            color: @txt-white;
            border: 1px solid @brd-violet;
            background: @bg-violet;

            .no-svg & {
                .transition(none);
            }
        }
    }

    &--close {

        display: inline-block;
        width: 30px;
        height: 29px;

        .icon-vacancy-close;
        background-position: center center;

        .no-svg & {
            .sprite(@vacancy-close);
            .transition(none);
        }

        &:hover,
        &:focus {
            .icon-vacancy-close-hover;

            .no-svg & {
                .sprite(@vacancy-close-hover);
                .transition(none);
            }
        }
    }

    &--left-arrow {

        max-width: 280px;
        padding-left: 32px;
        padding-right: 10px;
        padding-top: 14px;
        padding-bottom: 14px;

        border: 0;

        // line-height: 60px;
        color: @txt-violet;

        overflow: hidden;
        position: relative;

        .icon-left-arrow;
        
        background-repeat: no-repeat;
        background-position: 0 top;
        -moz-transition: none;

        .no-svg & {
            .sprite(@left-arrow);
            .transition(none);
            background-size: auto;
        }

        @media screen and (max-width: 419px) {
            background-size: 100% 100%;
            .transition(none);
        }

        &:hover,
        &:focus {
            color: #fff;

            border: 0;
            background-color: transparent;

            .icon-left-arrow-hover;
            -moz-transition: none;

            @media screen and (max-width: 419px) {
                background-size: 100% 100%;
                .transition(none);
            }

            .no-svg & {
                .sprite(@left-arrow-hover);
                .transition(none);
                background-size: auto;
            }
        }
    }

    &--right-arrow {

        max-width: 280px;
        padding-left: 10px;
        padding-right: 32px;
        padding-top: 14px;
        padding-bottom: 14px;
        border: 0;

        // line-height: 60px;
        color: @txt-violet;

        overflow: hidden;
        position: relative;

        .icon-right-arrow;
        -moz-transition: none;

        .no-svg & {
            .sprite(@right-arrow);
            .transition(none);
            background-size: auto;
        }

        @media screen and (max-width: 419px) {
            background-size: 100% 100%;
            .transition(none);
        }

        &:hover,
        &:focus {
            border: 0;
            color: #fff;
            background-color: transparent;

            .icon-right-arrow-hover;
            -moz-transition: none;

            .no-svg & {
                .sprite(@right-arrow-hover);
                .transition(none);
                background-size: auto;
            }

            @media screen and (max-width: 419px) {
                background-size: 100% 100%;
                .transition(none);
            }
        }
    }

    &--linkedin {

        max-width: 280px;

        position: relative;

        height: 60px;
        padding: 0 2px 0 60px;

        color: #fff;
        line-height: 58px;

        border: 0;
        background-color: @bg-linkedin;

        &:after,
        &:before {
            position: absolute;
        }

        &:after {
            content: '';
            display: block;

            left: 59px;
            top: 50%;

            width: 1px;
            height: 40px;
            margin-top: -20px;

            background-color: #1a91b6;
        }

        &:before {
            content: '';
            display: block;
            left: 19px;
            top: 15px;

            width: 24px;
            height: 24px;

            background-position: 0 0;
            .icon-linkedin;

            .no-svg & {
                .sprite(@icon-linkedin);
            }
        }

        &:hover,
        &:focus {
            color: #fff;
            border: 0;
            background-color: #1a91b6;

            &:after {
                background-color: @bg-linkedin;
            }
        }
    }

    &--add-file {
        max-width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;

        // line-height: 56px;
        color: @txt-violet;

        border: 2px dashed @brd-supert-light;

        .transition(all 0.2s linear);
        -moz-transition: none;

        .no-svg & {
            .transition(none);
        }

        .upload--add {
            display: inline-block;
            position: relative;

            padding-left: 30px;
            -moz-transition: none;

            .no-svg & {
                .transition(none);
            }

            &:before {
                display: block;
                position: absolute;
                left: 0;
                top: 6px;
                content: "";

                height: 21px;
                width: 21px;

                margin-right: 8px;

                background-position: 0 0;

                .icon-attach;

                .no-svg & {
                    .sprite(@icon-attach);
                    .transition(none);
                }

                .transition(all 0.2s linear 0s);
                -moz-transition: none;
            }
        }

        &:focus,
        &:hover {
            border: 2px dashed @brd-green;
            color: @txt-green;

            .transition(all 0.2s linear);
            -moz-transition: none;
            .no-svg & {
                .transition(none);
            }

            .upload--add {
                &:before {
                    .transition(all 0.2s linear 0.2s);
                    -moz-transition: none;
                    .icon-attach-hover;

                    .no-svg & {
                        .sprite(@icon-attach-hover);
                        .transition(none);
                    }
                }
            }

            .upload--ready {
                &:before {
                    .transition(all 0.2s linear 0.2s);
                    -moz-transition: none;
                    .icon-delete-hover;

                    .no-svg & {
                        .sprite(@icon-delete-hover);
                        .transition(none);
                    }
                }
            }
            &.upload{
                border: 2px dashed @brd-supert-light;
                color: @brd-supert-light;

                cursor: default;

                .transition(all 0.2s linear);
                -moz-transition: none;
                .no-svg & {
                    .transition(none);
                }
            }
        }

        .upload {
            margin: 11px auto;
            height: 10px;
            width: 260px;
            min-width: 260px;
            display: block;
            position: relative;

            border-radius: 100px;
            background: @bg-light-grey;

            &:after {
                content: ' ';
                width: 70%;
                height: 10px;
                display: block;

                border-radius: 100px;
                background: @bg-green;
            }

            &--ready {
                display: inline-block;
                position: relative;

                padding-left: 30px;
                -moz-transition: none;

                .no-svg & {
                    .transition(none);
                }

                &:before {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    content: "";

                    height: 21px;
                    width: 21px;

                    margin-right: 8px;

                    background-position: 0 0;

                    .icon-delete;

                    .no-svg & {
                        .sprite(@icon-delete);
                        .transition(none);
                    }

                    .transition(all 0.2s linear 0s);
                    -moz-transition: none;
                }
            }
        }
    }
}

.brd {

    //border-color
    //------------------------------------------------

    &--white{
        border-color: @btn-white;
    }

    &--light-grey{
        border-color: @btn-light-grey;
    }

    &--grey{
        border-color: #999999;
    }

    &--violet{
        border-color: @btn-violet;
    }

    &--green{
        border-color: @btn-green;
    }

    &--blue{
        border-color: @btn-blue;
    }

    &--yellow{
        border-color: @btn-yellow;
    }


    //brd-radius
    //------------------------------------------------
    &--rad-3px{
        .border-radius(3px);
    }

    &--rad-100px{
        .border-radius(100px);
    }

    &--rad-100p{
        .border-radius(100%);
    }
}