
/* Common
*******************************************************************************************************************************/

* {
    .box-sizing;
}

html,
body {
    position: relative;
    height: 100%;

    background: #fff;
}
body {
    // -webkit-text-size-adjust: 100%;

    // -webkit-font-smoothing: antialiased;
    // -moz-font-smoothing: antialiased;
    // -ms-font-smoothing: antialiased;
    // -o-font-smoothing: antialiased;
    // font-smoothing: antialiased;

    // -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-font-smoothing: subpixel-antialiased !important;
    -ms-font-smoothing: subpixel-antialiased !important;
    -o-font-smoothing: subpixel-antialiased !important;
    font-smoothing: subpixel-antialiased !important;
    // -webkit-backface-visibility: hidden;
    // -moz-backface-visibility:    hidden;
    // -ms-backface-visibility:     hidden;

    -webkit-transition: overflow 0.3s;
    -moz-transition: overflow 0.3s;
    -o-transition: overflow 0.3s;
    transition: overflow 0.3s;

    &.noscroll,
    &.no_scroll,
    &.push-body-fixed {
        overflow: hidden;
        width: 100%;

        -webkit-transition: overflow 0.3s;
        -moz-transition: overflow 0.3s;
        -o-transition: overflow 0.3s;
        transition: overflow 0.3s;
    }

    // transform: translate3d(0px,0px,0px);
}


/*Container*/

.container {
    width: 100%;
    max-width: @grid-width;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;

    @media all and (min-width: 1261px) {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    &-large {
        width: 100%;
        // max-width: 1260px;
        margin: 0;

        position: relative;        
        
        &.full-height-wrapper {
            min-height: 100%;
            height: auto !important;
        }
    }
}

.has-layers {
    overflow: hidden;
    position: relative;
    z-index: 9999;
}

.common-wrapper {
    position: relative;
    padding-bottom: 380px;
}

#main-part.hide {
    display: none;
}

.error-page {
    padding-top: 160px;
    padding-bottom: 60px;
}

/*Links*/
a {
    color: @link-green;

    text-decoration: none;

    .transition(all 0.2s linear);
}
a:hover,
a:focus {
    color: #fff;

    text-decoration: none;

    .transition(all 0.2s linear);

    *,
    &:before,
    &:after,
    *:before,
    *:after {
        .transition(all 0.2s linear);        
    }
}

b {
    font-family: @font-bold;
    font-weight: normal;
}