
.contacts {

    &-item {
        
        padding-top: 30px;

        &_title {
            margin-bottom: 10px;

            .fs(18px, 20px);
            color: @txt-violet;
            font-family: @font-serif-bold;
            font-weight: normal;

            @media screen and (max-width: 619px) {
                .fs(15px, 20px);
                margin-bottom: 8px;
            }
        }

        &_content {
            text-align: center;

            .fs(15px, 20px);

            @media screen and (max-width: 619px) {
                .fs(13px, 20px);
            }

            strong,
            a,
            em {
                display: block;
            }

            a {
                display: inline-block;
                color: @txt-violet;

                &:hover,
                &:focus {
                    color: @txt-green;
                }
            }

            strong {
                font-family: @font-normal;
                text-align: center;
            }

            em {
                font-size: 16px;
                font-family: @font-serif-italic;
                color: @txt-dark-grey;
            }

            p {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}