//------------------------------------------------
//  Dynamic Icon
//------------------------------------------------

@button-size: 30px;
@transition: all 0.1s linear;// increase this to see the transformations happen in slow motion

@transition4: all 0.2s linear;// increase this to see the transformations happen in slow motion


@transition1: all 0.1s linear 0.1s;


.dynamic-icon {
    display: block;
    padding: 12px 0;

    position: absolute;
    right: 0;
    top: 1px;

    cursor: pointer;
    user-select: none;

    // .transition(@transition);        // old styles

    background-color: transparent;
    border: 0 none;
    -webkit-appearance: none !important;


    // &:hover {
    //     opacity: 1;
    // }

    &:active {
        .transition(0);
    }
}

.line {
    display: block;

    width: @button-size;
    height: @button-size/10;

    .border-radius(4px);

    background: #fff;

    // .transition(@transition);        // old styles

    .header-wrapper--inverted &,
    nav.detached & {
        background: @bg-violet;
    }

    nav.detached.expanded &,
    nav.expanded .header-wrapper--inverted & {
        background-color: #fff;
    }
}

.lines {

    .line;

    position: relative;

    &:before,
    &:after {

        .line;

        position: absolute;
        left: 0;

        content: '';

        -webkit-transform-origin: @button-size/10 center;
        -moz-transform-origin: @button-size/10 center;
        -o-transform-origin: @button-size/10 center;
        -ms-transform-origin: @button-size/10 center;
        transform-origin: @button-size/10 center;
    }
    &:before {
        top: 8px;
    }
    &:after {
        top: -8px;
    }
}

.header-menu-nav-link:hover,
.header-menu-nav-link:focus,
nav.detached.expanded .header-menu-nav-link:hover,
nav.detached.expanded .header-menu-nav-link:focus,
nav.expanded .header-wrapper--inverted .header-menu-nav-link:hover,
nav.expanded .header-wrapper--inverted .header-menu-nav-link:focus {

    .lines {
        .transition(@transition1);  // new styles
        background-color: @bg-green;

        &:before {
            .transition(@transition1);  // new styles
            top: 12px;
            background-color: @bg-green;
        }
        &:after {
            .transition(@transition1);  // new styles
            top: -12px;
            background-color: @bg-green;
        }
    }
}


nav.expanded .header-menu-nav-link,
nav.expanded .header-wrapper--inverted .header-menu-nav-link,
nav.detached.expanded .header-menu-nav-link {

    .dynamic-icon {
        // -webkit-transform: scale3d(.8,.8,.8);
        //         transform: scale3d(.8,.8,.8);

        .transition(@transition4);  // new styles


        .lines {

            .transition(@transition4);  // new styles

            background: transparent;
            &:before,
            &:after {
                
                .transition(@transition4);  // new styles

                width: @button-size + 10px;

                top: 0;
                left: -5px;

                -webkit-transform-origin: 50% 50%;
                        transform-origin: 50% 50%;
            }

            &:before {
                -webkit-transform: rotate3d(0,0,1,45deg);
                        transform: rotate3d(0,0,1,45deg);
            }

            &:after {
                -webkit-transform: rotate3d(0,0,1,-45deg);
                        transform: rotate3d(0,0,1,-45deg);
            }
        }
    }

    &:hover .dynamic-icon {
        

        .transition(@transition1);  // new styles


        .lines {

            .transition(@transition1);  // new styles

            &:before,
            &:after {
                
                .transition(@transition1);  // new styles

            }
        }
    }
}


#nav-toggle { position: absolute; left: 50%; top: 50%; -moz-appearance: none !important; border: 0;
background-color: transparent; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


