
.field {
    .border-radius(3px);
    .fs(15px, 17px);
    display: block;
    width: 100%;
    height: 60px;
    padding: 21px 21px 22px;
    color: @txt-light-grey;
    border: 2px solid @bg-light-grey;
    outline: none;
    background-color: @bg-light-grey;

       -moz-appearance: none !important;
    -webkit-appearance: none !important;
    &:focus {
        color: @txt-black;
        border: 2px solid @dark-grey;
        outline: none;
        background-color: @white;

        -webkit-tap-highlight-color: transparent;
    }
    &::-webkit-input-placeholder {
        .fs(15px, 17px);
        color: @txt-grey-place;
        text-overflow: ellipsis;
    }
    &::-moz-placeholder {
        .fs(15px, 17px);
        color: @txt-grey-place;
        text-overflow: ellipsis;
    }
    &:-moz-placeholder {
        .fs(15px, 17px);
        color: @txt-grey-place;
        text-overflow: ellipsis;
    }
    &:-ms-input-placeholder {
        .fs(15px, 17px);
        color: @txt-grey-place;
        text-overflow: ellipsis;
    }
    &--required {
    	border: 2px solid @bg-yellow;
        background: @bg-yellow;
    }
    &--grey {
        color: @txt-black;
        background-color: @bg-light-grey;
    }
    &.ok {
        color: @txt-black;
        border: 2px solid @brd-supert-light;
        background-color: @white;
        &.field--required {
            color: @txt-black;
            border: 2px solid @brd-yellow;
        }
    }
    &.error {
        .border-radius(3px);
        color: @error;
        border: 2px solid @error;
        background: @bg-white;
    }
}
