
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Roboto:400,300,500,700,900&subset=cyrillic-ext,latin);

// Font Serif
// 
// 

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/Roboto_Slab/robotoslab-regular-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_slablight';
    src: url('../fonts/Roboto_Slab/robotoslab-light-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-light-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Slab/robotoslab-light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}




// Font San-Serif
// 

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto/roboto-light-webfont.eot');
    src: url('../fonts/Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto/roboto-medium-webfont.eot');
    src: url('../fonts/Roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto/roboto-bold-webfont.eot');
    src: url('../fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/Roboto/roboto-black-webfont.eot');
    src: url('../fonts/Roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-black-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}