
.founders  {
	padding-bottom: 120px;

	&-item {

	    text-align: center;
	    margin-top: 30px;

	    @media screen and (max-width: 800px) {
	    	margin-top: 40px;
	    }

		&_name {
			margin-bottom: 1px;

		    .fs(18px, 20px);
		    font-family: @font-serif-bold;
		    font-weight: normal;
		    color: @txt-violet;
		    text-transform: uppercase;
		}

		&_position {
			margin-bottom: 20px;

			.fs(16px, 20px);
			font-family: @font-serif-italic;
			font-style: italic;
			color: @txt-dark-grey;
		}

		&_content {
			margin-bottom: 14px;
		}

		&_socials {
			text-align: center;

			&-item {
				display: inline-block;
				vertical-align: bottom;
				margin-left: 50px;

				&:first-child {
					margin-left: 0;
				}

			}

			&-link {
				display: block;

				text-align: center;
				position: relative;
				background-position: 0 0;

				.no-svg & {
		            .transition(none);

		            &:hover,
		            &:focus {
						.transition(none);		            	
		            }
		        }

				&.social-vk-small {
					width: 15px;
					height: 18px;

					.icon-vk-small;

					.no-svg & {
						.sprite(@icon-vk-small);
					}

					&:hover,
					&:focus {

						.icon-vk-small-hover;

						.no-svg & {
							.sprite(@icon-vk-small-hover);
						}
					}
				}

				&.social-facebook {
					width: 12px;
					height: 24px;

					.icon-fb;

					.no-svg & {
						.sprite(@icon-fb);
					}

					&:hover,
					&:focus {

						.icon-fb-hover;
						.no-svg & {
							.sprite(@icon-fb-hover);
						}
					}
				}

				&.social-linkedin {
					width: 24px;
					height: 24px;

					.icon-linkedin-small;

					.no-svg & {
						.sprite(@icon-linkedin-small);
					}

					&:hover,
					&:focus {

						.icon-linkedin-small-hover;

						.no-svg & {
							.sprite(@icon-linkedin-small-hover);
						}
					}
				}

				&.social-mail {
					width: 23px;
					height: 18px;

					.icon-mail;

					.no-svg & {
						.sprite(@icon-mail);
					}

					&:hover,
					&:focus {

						.icon-mail-hover;

						.no-svg & {
							.sprite(@icon-mail-hover);
						}
					}
				}
			}
		}
	}
}