
/* Front slider
*******************************************************************************************************************************/

.front-slider {
    height: 100% !important;
    &-images {
        height: 100% !important;
    }
    &-wrapper {
        .caroufredsel_wrapper {
            height: 100% !important;
        }
    }
    &_slide {
        height: 100% !important;

        background-size: cover;
        &-description {
            width: 100%;

            position: absolute;
            bottom: 21%;
            left: 0;

            text-align: center;
            @media screen and (max-height: 700px) {
                bottom: 80px;
            }
        }
        &-content {
            margin-bottom: 40px;
            @media screen and (max-width: 479px),
            screen and (max-height: 599px) {
                display: none !important;
            }
        }
        &-logo {
            display: block;

            width: 280px;
            height: 260px;

            position: absolute;
            top: 24.7%;
            left: 50%;
            margin-left: -140px;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            @media screen and (max-height: 700px) {
                top: 14%;
            }

            @media all and (max-width: 470px),
            all and (max-height: 470px) {
                height: 55%;
            }
           
            @media all and (max-width: 360px),
            all and (max-height: 400px) {
                width: 80%;
                height: 50%;
            }
        }
    }
}
