
// gallery

.gallery {
	margin-left: auto;
	margin-right: auto;

	&-table {
		width: 100%;
		display: table;
		border: 0;
		border-collapse: collapse;
	  	border-spacing: 0;
	}

	&__col {
		display: table-cell;
		position: relative;
	}

	&__item {

		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		&--w-1-4 {
			width: 25%;
		}

		&--w-3-4 {
			width: 75%;
		}

		&--w-1-3 {
			width: 33.33333333%;
		}

		&--w-2-3 {
			width: 66.66666666%;
		}

		&--h-1-3 {
			height: 33.3333333%;
		}

		&--h-2-3 {
			height: 66.6666666%;
		}

		&--full-height {
			height: 100%;
		}

		&--top {
			position: absolute;
			left: 0;
			top: 0;
		}

		&--bottom {
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&--left {
			float: left;
			position: relative;
		}

		&--right {
			float: right;
			position: relative;
		}

	}

}