
// gallery

.gallery {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;

	&-item {
		position: absolute;
		display: block;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		&--l1-i1 {
			left: 0;
			top: 0;
			width: 25%;
			height: 33.3333333%;
	
	        @media screen and (max-width: 760px) {
				top: 50%;
				height: 25%;
				width: 33.3333333%;
	        }
		}
		&--l1-i2 {
			left: 25%;
			top: 0;
			width: 25%;
			height: 66.6666666%;

			@media screen and (max-width: 760px) {
				left: 0;
				height: 50%;
				width: 33.3333333%;
	        }
		}
		&--l1-i3 {
			left: 50%;
			top: 0;
			width: 50%;
			height: 66.6666666%;	

			@media screen and (max-width: 760px) {
				left: 33.3333333%;
				width: 66.6666666%;
				height: 50%;
	        }
		}
		&--l2-i1 {
			left: 0;
			top: 33.3333333%;
			width: 25%;
			height: 66.6666666%;

			@media screen and (max-width: 760px) {
				top: 50%;
				left: 66.6666666%;
				width: 33.3333333%;
				height: 50%;
	        }
		}
		&--l2-i2 {
			left: 25%;
			top: 66.6666666%;
			width: 50%;
			height: 33.3333333%;

			@media screen and (max-width: 760px) {
				left: 0;
				top: 75%;
				width: 66.6666666%;
				height: 25%;
	        }
		}
		&--l2-i3 {
			left: 75%;
			top: 66.6666666%;
			width: 25%;
			height: 33.3333333%;

			@media screen and (max-width: 760px) {
				left: 33.3333333%;
				top: 50%;
				width: 33.3333333%;
				height: 25%;
	        }
		}
	}
}