
.games-list {
    .box-sizing();
    // padding: 20px 10px 0 10px;

    padding: 120px 10px 0 10px;

    background-color: @bg-light-grey;
    &-raw {
        padding-bottom: 20px;
        @media all and (max-width: 767px) {
            padding-bottom: 0;
        }
    }
    &-col {
        padding-bottom: 0;
        @media all and (max-width: 767px) {
            padding-bottom: 20px;
        }
    }
    &_item {
        width: 100%;
        min-height: 480px;

        @media all and (max-width: 1024px),
        all and (max-height: 768px) {
            min-height: 240px;
        }

        &-full-holder,
        &-half-holder {
            width: 100%; 
            height: 100%;

            position: relative;
        }

        &-img {
            .transition(all 0.15s linear 0.15s);

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 3;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;

            &--pos-ct {
				background-position: center 25%;
            }

            // .games-list_item-half-mobile & {
            //     @media all and (max-width: 767px) {
            //         background-position: center center !important;
            //     }
            // }
        }
        &-inner {
            display: block;
            overflow: hidden;

            width: 100%;
            height: 100%;

            position: relative;
            // .games-list_item-full-mobile &,
            // .games-list_item-half-mobile & {
            //     height: auto;

            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            // }
            &-content {
                .opacity(0);
                .box-sizing();
                .fs(18px, 30px);
                .transition(opacity 0.15s linear 0.15s);

                display: block;

                width: 100%;
                padding-right: 10px;
                padding-left: 10px;

                position: absolute;
                right: 0;
                bottom: 16.6666%;
                left: 0;
                z-index: 5;

                color: #fff;
                &--hero {
                    bottom: 6.25%;
                    // .games-list_item-half-mobile & {
                    //     bottom: 3%;
                    // }
                }
                &--supercity {
                    bottom: 6.25%;
                    // .games-list_item-half-mobile & {
                    //     bottom: 3%;
                    // }
                }
                &--farkle {
                    bottom: 27%;
                }
                // .games-list_item-full-mobile &,
                // .games-list_item-half-mobile & {
                //     font-size: 16px;
                // }
                @media all and (max-width: 959px),
                all and (max-height: 767px) {
                    display: none;
                }

                @media all and (min-height: 768px) and (max-height: 800px) {
                	font-size: 16px;
                	line-height: 22px;
                	bottom: 10%;
		        }
		        .games-list-col.grid-col-4of8--constant & {
		        	@media all and (min-height: 768px) and (max-height: 800px) {
			            bottom: 5%;
			        }
		        }
            }
            &:before {
                .opacity(0);
                .transition(opacity 0.15s linear 0.15s);

                display: block;

                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 4;

                content: '';

                background-color: @bg-violet;
            }
            &:hover {
                .games-list_item-img {
                    .transition(all 0.2s linear .15s);
                    top: -4%;
                    right: -4%;
                    bottom: -4%;
                    left: -4%;
                }
                &:before {
                    .opacity(.75);
                    .transition(opacity 0.2s linear .15s);
                }
                .games-list_item-inner-content {
                    .opacity(1);
                    .transition(opacity 0.2s linear .15s);
                }
            }
        }
        &-logo {
            display: block;

            width: 280px;
            height: 260px;
            max-height: 100%;
            margin-left: -140px;
            margin-top: -130px;

            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 6;

            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;

            @media all and (max-width: 480px),
            all and (max-height: 690px) {
                height: 75%;
            }
        }
    }
}
