/* Grid
**************************************************************************************************/

.clear {
    clear: both;
}

.clearfix {

    &:before,
    &:after {
        display: table; // 2

        border-collapse: collapse;

        content: ' '; // 1
    }
    &:after {
        clear: both;
    }
}


[class*="grid-col-"] {
	display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.grid-raw {
	.box-sizing();
	width: 100%;

	&--centered {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&--cleared {
		.clearfix;
	}
}

.to-left {
	float: left;
	position: relative;
}

.to-right {
	float: right;
	position: relative;

	@media screen and (max-width: 619px) {
		float: left;
	}
}



/* Grid - 6 cols
***********************************************/

/* grid-raws */

.grid-raw-1of6 {
	.raw-of-6(1);
}

.grid-raw-2of6 {
	.raw-of-6(2);
}

.grid-raw-3of6 {
	.raw-of-6(3);
}

.grid-raw-4of6 {
	.raw-of-6(4);
}

.grid-raw-5of6 {
	.raw-of-6(5);
}



/* grid-cols */

.grid-col-1of6 {
	.col-of-6(1);


}

.grid-col-2of6 {
	.col-of-6(2);

	// @media screen and (max-width: 799px) {
	// 	.col-of-6(3);
 //    }

	@media all and (max-width: 480px) {
		.col-of-6(6);
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-6(3);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(2);
	}
}

.grid-col-3of6 {
	.col-of-6(3);
}	

.grid-col-4of6 {
	.col-of-6(4);

	@media all and (max-width: 480px) {
		.col-of-6(6);
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-6(6);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(4);
	}
}

.grid-col-5of6 {
	.col-of-6(5);
}

.grid-col-6of6 {
	.col-of-6(6);
}



/* Grid - 8 cols
***********************************************/

/* grid-raws */

.grid-raw-1of8 {
	.raw-of-8(1);
}

.grid-raw-2of8 {
	.raw-of-8(2);

	@media screen and (max-width: 1119px) {
		.raw-of-8(3);
    }

    @media screen and (max-width: 799px) {
		.raw-of-8(4);
    }
}

.grid-raw-3of8 {
	.raw-of-8(3);
}

.grid-raw-4of8 {
	.raw-of-8(4);

	// @media screen and (max-width: 899px) {
	// 	.raw-of-8(5);
 //    }

    &--constant {
    	@media screen and (max-width: 899px) {
			.raw-of-8(4);
	    }
    }
}

.grid-raw-5of8 {
	.raw-of-8(5);
}

.grid-raw-6of8 {
	.raw-of-8(6);

	// @media screen and (max-width: 999px) {
	// 	.raw-of-8(7);
 //    }

    @media all and (max-width: 480px) {
		.raw-of-8(8);
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.raw-of-8(8);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.raw-of-6(6);
	}
}

.grid-raw-7of8 {
	.raw-of-8(7);
}



/* grid-cols */

.grid-col-1of8 {
	.col-of-8(1);



	@media all and (max-width: 480px) {
		.col-of-8(4);
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(2);
	}

	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(1);
	}
}

.grid-col-2of8 {
	.col-of-8(2);

	// @media screen and (max-width: 1119px) {
	// 	.col-of-8(3);
 //    }

	// @media screen and (max-width: 799px) {
	// 	.col-of-8(4);
 //    }
	



	@media all and (max-width: 480px) {
		.raw-of-8(8);
		padding-left: 0;
		padding-right: 0;
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(4);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(2);
	}
}

.grid-col-3of8 {
	.col-of-8(3);

	// @media screen and (max-width: 767px) {
	// 	.col-of-8(4);
 //    }




    @media all and (max-width: 480px) {
		.raw-of-8(8);
		padding-left: 0;
		padding-right: 0;
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(6);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(3);
	}
}

.grid-col-4of8 {
	.col-of-8(4);

	// @media screen and (max-width: 899px) {
	// 	.col-of-8(5);
 //    }

    &--constant {

    	.col-of-8(4);

	    @media screen and (max-width: 767px) {
			.col-of-8(8);
	    }
    }




    @media all and (max-width: 480px) {
		.raw-of-8(8);
		padding-left: 0;
		padding-right: 0;
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(8);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(4);
	}
}

.grid-col-5of8 {
	.col-of-8(5);




	@media all and (max-width: 480px) {
		.raw-of-8(8);
		padding-left: 0;
		padding-right: 0;
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.raw-of-8(8);
	}

	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(5);
	}
}

.grid-col-6of8 {
	.col-of-8(6);

	// @media screen and (max-width: 999px) {
	// 	.col-of-8(7);
 //    }




    @media all and (max-width: 480px) {
		.raw-of-8(8);
		padding-left: 0;
		padding-right: 0;
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(8);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(6);
	}
}

.grid-col-7of8 {
	.col-of-8(7);

	// &--mobile {
	// 	@media screen and (max-width: 729px) {
	// 		.col-of-8(7);
	// 	}
	// }




	@media all and (max-width: 480px) {
		.col-of-8(8);
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(8);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(6);
	}
}

.grid-col-8of8 {
	.col-of-8(8);




	@media all and (max-width: 480px) {
		.col-of-8(8);
	}
	@media all and (min-width: 481px) and (max-width: 800px) {
		.col-of-8(8);
	}
	@media all and (min-width: 801px) and (max-width: 1120px) {
		.col-of-6(6);
	}
}

/* Mobile */

.grid-col-mobile-full {

	// @media screen and (max-width: 619px) {
	// 	width: 100%;
	// }
}


/*

		Offsets

 */



//padding


.pt52 {
	padding-top: 52px;

	@media screen and (max-width: 619px) {
		padding-top: 22px;		
	}
}

.pt60 {
	padding-top: 60px;

	@media screen and (max-width: 619px) {
		padding-top: 30px;		
	}
}

.pt70 {
	padding-top: 70px;

	@media screen and (max-width: 619px) {
		padding-top: 50px;		
	}
}

.pt80 {
	padding-top: 80px;

	@media screen and (max-width: 619px) {
		padding-top: 50px;		
	}
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb48 {
	padding-bottom: 48px;
}

.pb50 {
	padding-bottom: 50px;
}

.pb60 {
	padding-bottom: 60px;

	@media screen and (max-width: 619px) {
		padding-bottom: 30px;	
	}	
}

.pb78 {
	padding-bottom: 78px;

	@media screen and (max-width: 619px) {
		padding-bottom: 48px;	
	}	
}

.pb70 {
	padding-bottom: 70px;

	@media screen and (max-width: 619px) {
		padding-bottom: 40px;	
	}	
}

.pb80 {
    padding-bottom: 80px;

	@media screen and (max-width: 619px) {
		padding-bottom: 50px;	
	}    
}

.pb96 {
	padding-bottom: 96px;

	@media screen and (max-width: 619px) {
		padding-bottom: 66px;	
	}	
}

.no-pb {
	padding-bottom: 0;
}

.mt40 {
	margin-top: 40px;
}

.mt44 {
	margin-top: 44px;
}

.mr20 {
	margin-right: 20px;
}

.mb4 {
	margin-bottom: 4px;
}

.mb6 {
	margin-bottom: 6px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb30 {
    margin-bottom: 30px;

    @media screen and (max-width: 619px) {
		margin-bottom: 20px;		
	}
}

.mb32 {
	margin-bottom: 32px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb55 {
	margin-bottom: 55px;
}

.mb60 {
	margin-bottom: 60px;

	@media screen and (max-width: 619px) {
		margin-bottom: 30px;		
	}
}

.mb80 {
    margin-bottom: 80px;

	@media screen and (max-width: 619px) {
		margin-bottom: 50px;		
    }
}

.mb90 {
	margin-bottom: 90px;

	@media screen and (max-width: 619px) {
		margin-bottom: 60px;		
	}
}

.mb100 {
	margin-bottom: 100px;

	@media screen and (max-width: 619px) {
		margin-bottom: 70px;		
	}
}

.mb110 {
	margin-bottom: 110px;

	@media screen and (max-width: 619px) {
		margin-bottom: 80px;		
	}
}


[class*="grid-col-"],
[class*="grid-raw-"] {
	.box-sizing();

	// @media screen and (max-width: 619px) {
	// 	width: 100%;
	// }
}
