
/* Header Langs
*******************************************************************************************************************************/

.header-langs {
    .clearfix;

    position: absolute;
    top: 43px;
    left: 20px;
    @media all and (min-width: 1261px) {
        left: 30px;
    }
    @media screen and (min-width: 620px) and (max-width: 1239px) {
        left: 20px;
    }
    @media screen and (max-width: 619px) {
        display: none;
    }
    &_lang {
        .fs(15px, 16px);

        float: left;

        margin-left: 38px;

        font-family: @font-serif-bold;
        font-weight: normal;

        letter-spacing: 2px;
        text-transform: uppercase;
        
        &:first-child {
            margin-left: 0;
        }

        &-link {
            color: #fff;
            &:hover,
            &:focus,
            &--current {
                color: @txt-green;
            }
        }
    }
    nav.detached & {
        top: 34px;
        &_lang {
            &-link {
                color: @txt-violet;
                &:hover,
                &:focus,
                &--current {
                    color: @txt-green;
                }
            }
        }
    }
    nav.detached.expanded &,
    nav.expanded .header-wrapper--inverted & {
        &_lang {
            &-link {
                color: #fff;
                &:hover,
                &:focus,
                &--current {
                    color: @txt-green;
                }
            }
        }
    }
    nav.expanded & {
        &_lang {
            &-link {
                @media screen and (max-width: 619px) {
                    display: block;
                }
            }
            @media screen and (max-width: 619px) {
                display: inline-block;
                float: none;

                vertical-align: top;
            }
        }
    }
    .header-wrapper--inverted & {
        &_lang {
            &-link {
                color: @txt-violet;
                &:hover,
                &:focus,
                &--current {
                    color: @txt-green;
                }
            }
        }
    }
    .main-menu & {
        display: none;

        @media screen and (max-width: 619px) {
            display: block;

            text-align: center;
            margin: 0 auto 27px;
            padding-top: 2px;

            position: static;
        }
    }
}
