
/* Header logo
*******************************************************************************************************************************/

.header-logo {
    display: block;

    width: 186px;
    height: 54px;
    margin: 0 auto;

    background-image: url('@{imgPath}/logo.svg');
    span {
        display: none;
    }
    .no-svg & {
        .sprite(@logo);
    }
    @media screen and (max-width: 619px) {
        margin: 0;
    }
    nav.detached &,
    .header-wrapper--inverted & {
        background-image: url('@{imgPath}/logo-violet.svg');
        .no-svg & {
            .sprite(@logo-violet);
        }
    }
    nav.detached.expanded &,
    nav.expanded .header-wrapper--inverted & {
        background-image: url('@{imgPath}/logo.svg');
        .no-svg & {
            .sprite(@logo);
        }
    }
}
