
/* Header
*******************************************************************************************************************************/

.header {

	min-height: 100px;
	padding-top: 23px;
	padding-bottom: 23px;

	@media screen and (max-width: 619px) {
		padding-left: 20px;
	}
	
	nav.detached & {
		min-height: 80px;
		padding-top: 14px;
		padding-bottom: 12px;
	}

	&-wrapper {
		
		top: 0;
		right: 0;
		left: 0;
		position: absolute;
		z-index: 7;

		&--inverted {
			background-color: #fff;
		}

		nav.expanded & {
			background-color: transparent;
			z-index: 60;
		}
	}

}