
/* Header Menu
*******************************************************************************************************************************/

.header-menu {
    .clearfix;

    position: absolute;
    top: 36px;
    right: 20px;
    z-index: 50;
    @media all and (min-width: 1261px) {
        right: 30px;
    }
    nav.detached & {
        top: 27px;
    }
    @media screen and (max-width: 1239px) {
        right: 20px;
    }
    &_item {
        .fs(15px, 19px);

        float: left;

        margin-left: 38px;

        font-family: @font-serif-bold;
        font-weight: normal;
        color: #fff;

        letter-spacing: 2px;
        text-transform: uppercase;
        &:first-child {
            margin-left: 0;
        }
        &-link {
            display: block;

            padding: 5px 0;

            color: #fff;
            &:hover,
            &:focus {
                color: @txt-green;
            }
        }
    }
    &-nav {
        &-link {
            display: block;

            padding: 5px 50px 5px 0;

            position: relative;
        }
        &_label.open {
            display: block;
        }
        &_label.close {
            display: none;
        }
        nav.expanded & {
            .header-menu-nav_label {
                &.close {
                    display: block;
                }
                &.open {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .header-menu-nav_label {
            display: none !important;
        }

        .header-menu_item {
            display: none;
            &.header-menu-nav {
                display: block;
            }
            .header-menu-nav-link {
                width: 30px;
                height: 19px;
                padding-right: 0;
            }
        }
    }
    nav.detached &,
    .header-wrapper--inverted & {
        &_item {
            color: @txt-violet;
            &-link {
                color: @txt-violet;
                &:hover,
                &:focus {
                    color: @txt-green;
                }
            }
        }
    }
    nav.detached.expanded &,
    nav.expanded .header-wrapper--inverted & {
        &_item {
            color: #fff;
            &-link {
                color: #fff;
                &:hover,
                &:focus {
                    color: @txt-green;
                }
            }
        }
    }
}
