
.hot-vacancies {
    background-color: @bg-light-grey;
    &-title {
        margin-bottom: 26px;
        
        @media screen and (max-width: 619px) {
            line-height: 40px;
        }
    }
    &-list {
        margin-bottom: 60px;

        list-style: none outside none;

        border-top: 1px solid @brd-vacancy;

        @media screen and (max-width: 619px) {
            margin-bottom: 40px;
        }
    }
    &-item {
        display: block;
        &-link {
            display: block;

            padding-top: 31px;
            padding-bottom: 20px;

            text-align: center;

            border-bottom: 1px solid @brd-vacancy;
            &_name {
                .fs(18px, 20px);

                display: block;

                margin-bottom: 10px;

                font-family: @font-serif-bold;
                font-weight: normal;
                color: @txt-violet;

                text-transform: uppercase;

                @media screen and (max-width: 619px) {
                    .fs(15px, 18px);

                    margin-bottom: 2px;
                }
            }
            &_price {
                .fs(15px, 17px);

                display: block;

                color: @txt-grey;

                @media screen and (max-width: 619px) {
                    .fs(13px, 16px);
                }
            }
            &:hover,
            &:focus {
                padding-top: 32px;
                margin-top: -1px;

                border-bottom-color: @brd-violet;
                background-color: @bg-violet;
                .hot-vacancies-item-link_name {
                    color: #fff;
                }
                .hot-vacancies-item-link_price {
                    color: #ccc;
                }
            }
        }
    }
}
