
.join-game {
    &-inner {
        .box-sizing();

        width: 100%;
        height: 100%;
        padding-top: 94px;
        padding-bottom: 40px;
        &-title {
            margin-bottom: 90px;
            @media screen and (max-width: 619px) {
                margin-bottom: 60px;
            }
        }
        &-social {
            &_list {
                text-align: center;
            }
            &_item {
                display: inline-block;

                padding: 0 20px 20px;

                vertical-align: top;
                &-link {
                    .border-radius (@radius: 40px);
                    .transition(background 0.2s linear);
                    -moz-transition: none;

                    display: block;

                    width: 100px;
                    height: 100px;
                    padding: 1px;

                    background-color: #fff;
                    .no-svg & {
						.transition(none);
	                }
                    span {
                        .transition(background 0.2s linear);
                        -moz-transition: none;
                        .border-radius (@radius: 32px);

                        display: block;
                        overflow: hidden;

                        width: 98px;
                        height: 98px;

                        text-align: center;

                        background-color: #fff;
                        background-position: center center;

                        .no-svg & {
	                        .transition(none);
                        	background-image: none;
                            &:before,
                            &:after {
	                        	.transition(none);
                                display: inline-block;

                                vertical-align: middle;

                                content: '';
                            }
                            &:after {
                                visibility: hidden;

                                width: 1px;
                                height: 100%;
                                margin-left: -1px;
                            }
                        }
                        &.icon {
                            &-facebook {
                                .icon-fb-huge-violet;

                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-fb-huge-violet);
                                    }
                                }
                            }
                            &-vk {
                                .icon-vk;

                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-vk);
                                    }
                                }
                            }
                            &-odnokl {
                                .icon-odn;

                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-odn);
                                    }
                                }
                            }
                            &-mailru {
                                .icon-mailru;

                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-mailru);
                                    }
                                }
                            }
                            &-yahoo {
                                .icon-yahoo;

                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-yahoo);
                                    }
                                }
                            }
                            &-fau {
                                .icon-fau;

                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-fau);
                                    }
                                }
                            }
                            &-rw {
                                .icon-rw;

                                background-position: right center;
                                .no-svg & {
                                    &:before {
                                        .sprite(@icon-rw);
                                    }
                                }
                            }
                        }
                    }
                    &:hover,
                    &:focus {
                    	-moz-transition: none;

                    	span {
                    		-moz-transition: none;

	                        .no-svg & {
		                    	.transition(none);

		                    	&:before {
			                    	.transition(none);
		                    	}
		                    }
                    	}
                    }
                    &--facebook:hover,
                    &--facebook:focus {
                        background-color: #3b5998;
                        span {
                            .icon-fb-huge-white;

                            background-color: #3b5998;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-fb-huge-white);
                                }
                            }
                        }
                    }
                    &--vk:hover,
                    &--vk:focus {
                        background-color: #577ca2;
                        span {
                            .icon-vk-active;

                            background-color: #577ca2;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-vk-active);
                                }
                            }
                        }
                    }
                    &--odnokl:hover,
                    &--odnokl:focus {
                        background-color: #fa8d11;
                        span {
                            .icon-odn-active;

                            background-color: #fa8d11;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-odn-active);
                                }
                            }
                        }
                    }
                    &--mailru:hover,
                    &--mailru:focus {
                        background-color: #00468a;
                        span {
                            .icon-mailru-active;

                            background-color: #00468a;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-mailru-active);
                                }
                            }
                        }
                    }
                    &--yahoo:hover,
                    &--yahoo:focus {
                        background-color: #500095;
                        span {
                            .icon-yahoo-active;

                            background-color: #500095;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-yahoo-active);
                                }
                            }
                        }
                    }
                    &--rw:hover,
                    &--rw:focus {
                        background-color: #fff;
                        span {
                            .icon-rw-active;

                            background-color: #fff;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-rw-active);
                                }
                            }
                        }
                    }
                    &--fau:hover,
                    &--fau:focus {
                        background-color: #f0592b;
                        span {
                            .icon-fau-active;

                            background-color: #f0592b;
                            .no-svg & {
                                &:before {
                                    .sprite(@icon-fau-active);
                                }
                            }
                        }
                    }
                }
            }
        }
        &-store {
            &_list {
                padding-top: 60px;

                text-align: center;
            }
            &_item {
                display: inline-block;

                padding: 0 10px 20px;

                vertical-align: top;
                &-link {
                    .border-radius (@radius: 3px);

                    display: block;

                    width: 220px;
                    height: 60px;

                    text-align: center;

                    background-color: #000;
                    &:before {
                        display: inline-block;

                        vertical-align: top;

                        content: '';

                        background-repeat: no-repeat;
                    }
                    &.icon {
                        &-appstore {
                            &:before {
                                .sprite(@appstore);
                            }
                        }
                        &-gplay {
                            &:before {
                                .sprite(@gplay);
                            }
                        }
                        &-amazonstore {
                            &:before {
                                .sprite(@amazonstore);
                            }
                        }
                    }
                }
            }
        }
    }
}
