
.layer {

	&-deep-top {
		position: fixed;
		z-index: 3;
		
		left: 0;
		right: 0;
		top: 0;

		&.stick-top {
			position: absolute;
			top: 0;
		}

		&.stick-bottom {
			position: absolute;
			bottom: 0;
			top: auto;
		}
	}

	&-closest {
		position: relative;
		z-index: 5;

		// margin-top: 760px;
		// margin-bottom: 380px;
	}


	&-deep-bottom {
		position: fixed;
		z-index: 4;

		left: 0;
		right: 0;
		// bottom: -80px;
		bottom: 0;
		display: none;

		&.show-bottom {
			display: block;
		}
	}
}

.special-styles {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0)
}