

/* Main-menu
*******************************************************************************************************************************/


.main-menu {
	
	width: 100%;

	height: auto;
	overflow-y: auto;
	
	position: absolute;
	top: 100px;
	right: 0;
	left: 0;
	bottom: 0;

	nav.detached.show & {
		top: 80px;
	}


	&-wrapper {
		opacity: 0;
		visibility: hidden;

		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 0;
		
		width: 100%;
		padding-top: 100px;
		min-height: 100%;
		height: auto;
		overflow: hidden;
		
		-webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-moz-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	nav.show &-wrapper {

		opacity: 1;
		z-index: 40;
		visibility: visible;

		-webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-moz-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	nav.detached.show &-wrapper {
		padding-top: 80px;
	}

	&-primary-nav {
		width: 100%;
		max-width: 500px;
		margin: 43px auto 57px;

		@media screen and (max-width: 619px) {
			margin-top: 9px;
			margin-bottom: 38px;
		}

		&_list {
			list-style: none outside none;
		}

		&_item {
			display: block;
			text-align: center;
			margin-bottom: 14px;

			@media screen and (max-width: 619px) {
				margin-bottom: 5px;
			}

			&-link {
				display: inline-block;
				padding: 0 5px;

    			.fs(40px, 46px);
				font-family: @font-serif-normal;
    			letter-spacing: 1px;

    			color: #fff;

    			@media screen and (max-width: 619px) {
    				.fs(30px, 35px);
				}

    			&:hover,
    			&:focus {
    				color: @txt-green;
    			}
			}

			&-current-link {
				font-family: @font-serif-bold;
				font-weight: normal;
				color: @txt-green;
			}

		}
	}

	&-secondary-nav {
		width: 100%;
		max-width: 500px;
		margin: 0 auto 56px;

		@media screen and (max-width: 619px) {
			margin-bottom: 38px;
		}

		&_title {
			margin-bottom: 20px;

			.title-h5;
			color: #fff;

			@media screen and (max-width: 619px) {
				margin-bottom: 8px;
			}
		}

		&_list {
			list-style: none outside none;
		}

		&_item {
			display: block;
			text-align: center;
			margin-bottom: 14px;

			@media screen and (max-width: 619px) {
				margin-bottom: 5px;
			}

			&-link {
				display: inline-block;
				padding: 0 5px;

				font-family: @font-serif-normal;
    			.fs(40px, 46px);
    			letter-spacing: 1px;

    			color: #fff;

    			@media screen and (max-width: 619px) {
    				.fs(30px, 35px);
				}

    			&:hover,
    			&:focus {
    				color: @txt-green;
    			}
			}

			&-current-link {
				font-family: @font-serif-bold;
				font-weight: normal;
				color: @txt-green;
			}

		}
	}

	&-social-block {

		width: 100%;
		max-width: 500px;
		margin: 0 auto 20px;

		&_title {
			margin-bottom: 18px;

			.title-h5;
			color: #fff;
		}

		&_list {
			list-style: none outside none;
			text-align: center;
		}

		&_item {
			display: inline-block;
			vertical-align: top;
			padding: 0 14px 20px;

			&-link {
				display: block;
				width: 61px;
				height: 60px;
				padding: 1px;

				background-color: #fff;
				.border-radius (@radius: 23px);
				
				.transition(background 0.2s linear);
				-moz-transition: none;

				
				.no-svg & {
	            	.transition(none);
	            }

				&:hover {
					-moz-transition: none;
					
					.no-svg & {
	                   	.transition(none);
						span {
	                    	.transition(none);

	                    	&:before {
		                    	.transition(none);
	                    	}
	                	}
	                }
				}

				span {
					.transition(background 0.2s linear);
					-moz-transition: none;

					display: block;
					width: 59px;
					height: 58px;

					overflow: hidden;

					text-align: center;

					background-color: #fff;
					.border-radius (@radius: 18px);

					background-position: center center;

					.no-svg & {
                        .transition(none);
                    	background-image: none;
                        &:before,
                        &:after {
                        	.transition(none);
                            display: inline-block;

                            vertical-align: middle;

                            content: '';
                        }
                        &:after {
                            visibility: hidden;

                            width: 1px;
                            height: 100%;
                            margin-left: -1px;
                        }
                    }
				}


				&--facebook {

					span {
						.icon-fb-big-violet;

						.no-svg & {
			                &:before {
                                .sprite(@icon-fb-big-violet);
                            }
			            }
					}

					&:hover {
						background-color: #3b5998;

						span {
							background-color: #3b5998;
							
							.icon-fb-big-white;

							.no-svg & {
				                &:before {
	                                .sprite(@icon-fb-big-white);
	                            }
				            }
						}
					}
				}
				&--twitter {

					span {
						.icon-tw-big-violet;

						.no-svg & {
			                &:before {
	                                .sprite(@icon-tw-big-violet);
	                            }
			            }
					}

					&:hover {
						background-color: #00aced;

						span {
							background-color: #00aced;
							
							.icon-tw-big-white;

							.no-svg & {
				                &:before {
	                                .sprite(@icon-tw-big-white);
	                            }
				            }
						}
					}

				}
				&--linkedin {

					span {
						.icon-linkedin-big-violet;

						.no-svg & {
			                &:before {
	                                .sprite(@icon-linkedin-big-violet);
	                            }
			            }
					}

					&:hover {
						background-color: #007bb6;

						span {
							background-color: #007bb6;
							
							.icon-linkedin-big-white;

							.no-svg & {
				                &:before {
	                                .sprite(@icon-linkedin-big-white);
	                            }
				            }	
						}
					}

				}
				&--instagram {

					span {
						.icon-instagram-big-violet;

						.no-svg & {
			                &:before {
	                                .sprite(@icon-instagram-big-violet);
	                            }
			            }
					}

					&:hover {
						background-color: #cd5959;

						span {
							background-color: #cd5959;

							.icon-instagram-big-white;

							.no-svg & {
				                &:before {
	                                .sprite(@icon-instagram-big-white);
	                            }
				            }
						}
					}
				}
				
				&--youtube {

					span {
						.icon-youtube-big-violet;

						.no-svg & {
			                &:before {
	                                .sprite(@icon-youtube-big-violet);
	                            }
			            }
					}

					&:hover {
						background-color: #bb0000;

						span {
							background-color: #bb0000;
							
							.icon-youtube-big-white;

							.no-svg & {
				                background-image: url('@{imgPath}/icon-youtube-big-white.png');
				                &:before {
	                                .sprite(@icon-youtube-big-white);
	                            }
				            }	
						}
					}
				}
			}
		}
	}

	&-copyright {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		padding-bottom: 40px;

		text-align: center;
    	.fs(13px, 20px);
		color: #fff;

		p {
			margin-bottom: 0;
		}
	}
}

nav {

	height: 100px;
	width: 100%;
	overflow: hidden;

	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: 100000;

	-webkit-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-moz-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

	&.invisible {
	  	opacity: 0;
	}

	&.show {
		position: fixed;
		// overflow: auto;
		
		background-color: rgba(97, 17, 106, .9);

		-webkit-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-moz-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}

	&.expanded {
		min-height: 100%;
		height: auto;

		cursor: default;
	}

	/* when shown & detached position is fixed */

	&.detached {
		position: fixed;
		z-index: 100000;

		height: 80px;
		border-bottom: 1px solid #e5e5e5;

		background-color: #fff;

		&.show {
			position: fixed;

			background-color: rgba(97, 17, 106, .9);

			-webkit-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			-moz-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			-o-transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		}

		&.expanded {
			min-height: 100%;
			height: auto;

			cursor: default;
			overflow: auto;
			border-bottom: 0;
		}
	}
}