
.poster {
    width: 100%;
    min-height: 760px;

    position: relative;

    background-color: @bg-violet;
    &--mini {
        width: 100%;
        min-height: 720px;

        position: relative;
        @media screen and (max-width: 910px) {
            min-height: 520px;
        }
        @media screen and (max-width: 619px) {
            min-height: 440px;
        }
        // @media screen and (max-height: 440px) {
        //     min-height: 0;
        // }
    }
    &--mini-vacancy-slider {
        width: 100%;
        min-height: 720px;

        position: relative;
        @media screen and (max-width: 910px) {
            min-height: 520px;
        }
    }
    &--tr {
        background-color: transparent;
    }
    &--black {
        background-color: #000;
    }
    &__video {
        overflow: hidden;

        position: relative;
    }
    &__blurred,
    &__bg-img,
    &__bg-img-fixed {
        width: 100%;
        height: 100%;

        position: relative;

        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    &__bg--pos {
        &-lt {
            background-position: left top;
        }
        &-ct {
            background-position: center top;
        }
        &-cc {
            background-position: center center;
        }
    }
    &__bg-img-fixed {
        background-attachment: fixed !important;
        background-position: center center;
        background-size: cover !important;
    }
    &__bg-glass-20,
    &__bg-glass-30,
    &__bg-glass-40,
    &__bg-glass-75, {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 29;

        background-color: rgba(97, 17, 106, .2);
    }
    &__bg-glass-30 {
        background-color: rgba(97, 17, 106, .3);
    }
    &__bg-glass-40 {
        background-color: rgba(97, 17, 106, .4);
    }
    &__bg-glass-75 {
        background-color: rgba(97, 17, 106, .75);
    }
    &__bg-glass-black-40 {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 28;

        background-color: rgba(0, 0, 0, .4);
    }
    &__content {
        width: 100%;
        height: 100%;

        position: relative;
        z-index: 30;

        background-color: transparent;
        background-repeat: repeat-x;
        background-position: center top;
        &--top-grad {
            background-image: url('@{imgPath}/top-grad.png');
        }
        &--bottom-grad {
            background-image: url('@{imgPath}/bottom-grad.png');
            background-position: center bottom;
        }
        &--vacancy {
            width: 100%;
            height: 100%;

            position: relative;
            z-index: 30;

            background-color: transparent;
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: contain;
            @media screen and (max-width: 1200px) {
            }
            @media screen and (min-width: 1041px) and (max-aspect-ratio: 16/9) {
                background-size: 50% auto;
            }
            @media screen and (min-aspect-ratio: 16/9) {
                background-size: contain;
            }
            @media screen and (max-width: 1040px) {
                background-position: 184% 100%;
                background-size: 68% auto;
            }
            @media screen and (max-width: 910px) {
                background-image: none !important;
            }
        }
        &--founders {
            width: 100%;
            height: 100%;

            position: relative;
            z-index: 30;

            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
    &--narrow {
        min-height: 480px;

        @media screen and (max-height: 480px) {
            min-height: 0;
        }
    }
    &--bottom {
        min-height: 380px;
        @media all and (max-height: 380px) {
            min-height: 320px;
        }
    }
    &-game {
        &-logo {
            display: block;

            width: 280px;
            height: 260px;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -130px;
            margin-left: -140px;

            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;

            @media all and (max-width: 480px),
            all and (max-height: 480px) {
                width: 50%;
            }
           
            @media all and (max-width: 360px) {
                width: 80%;
            }
        }
    }
    &-top-vacancy {
        width: 100%;

        position: absolute;
        top: 42%;
        left: 0;
        // padding-top: 320px;
        &_title {
            margin-bottom: 28px;
            @media screen and (max-width: 619px) {
                margin-bottom: 40px;
            }
        }
    }
    &-join-game {
        @media screen and (max-width: 580px) {
            min-height: 830px;
        }
        @media screen and (max-width: 539px) {
            min-height: 860px;
        }
        @media screen and (max-width: 519px) {
            min-height: 970px;
        }
        @media screen and (max-width: 459px) {
            min-height: 1100px;
        }
    }
    &-fullheight-eater {
        margin-top: -40px;
        position: relative;
        z-index: 999;
        &.has-layers {
            z-index: 9999;
        }
        @media screen and (max-width: 619px) {
            margin-top: -20px;
        }
    }
}