
.quotes  {
	
	&-item {

		margin-bottom: 40px;

		&-avatar {
			display: block;
			width: 71px;
			margin: 0 auto 12px;

			&__img {
				width: 100%;
				padding-top: 100%;

				background-size: cover;
				background-repeat: no-repeat;
				.border-radius(50%);
			}
		}

		&-author {

			margin-bottom: 16px;

		    .fs(13px, 15px);
		    color: @txt-light-grey;

		    @media screen and (max-width: 619px) {
		        .fs(12px, 15px);
		    }

			&_name {
				text-decoration: underline;

				&:hover,
				&:focus {
					color: @txt-violet;
					text-decoration: none;
				}
			}
		}

		&-content {
			padding-bottom: 26px;
			position: relative;

			.fs(15px, 20px);
			font-family: @font-serif-light;
			color: @txt-grey;

			@media screen and (max-width: 619px) {
		        .fs(13px, 20px);
		    }

			.icon-small-quot;
			background-position: center bottom;

			.no-svg & {
				background-image: none;
				&:before {
					content: '';
					.sprite(@small-quot);
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -15px;
				}
			}

			p {
				padding: 5px 0 15px;
			}
		}
	}
}