
/* Quota slider
*******************************************************************************************************************************/

.quota-slider {

	height: 100% !important;

	&-wrapper {

		height: 100% !important;

		.caroufredsel_wrapper {
			height: 100% !important;
		}
	}

	&_slide {

		height: 100% !important;

		&-description {
			position: absolute;
			// top: 163px;
			// left: 96px;
			// top: 21.5%;
			top: 50%;
			left: 31%;

			margin-left: -293px;

			width: 100%;
			max-width: 586px;
			text-align: center;

            @media screen and (max-width: 1198px) {
				margin-left: 0;
				width: 50%;
				left: 120px;
			}

			@media screen and (max-width: 910px) {
				left: 0;
				width: 100%;
				max-width: 100%;
				padding: 0 140px;
			}

			@media screen and (max-width: 760px) {
				padding: 0 160px;
			}

			@media screen and (max-width: 639px) {
				padding: 0 40px;
			}

			@media screen and (max-width: 320px) {
				padding: 0 10px;
			}
		}

		&-content {
			position: relative;
			margin-bottom: 26px;
			padding-top: 39px;
			padding-bottom: 34px;

			.fs(25px, 30px);
			font-family: @font-serif-normal;
			color: #fff;

			@media screen and (max-width: 800px) {
				.fs(20px, 24px);
			}

			@media screen and (max-width: 480px) {
				.fs(15px, 20px);
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 0;

				width: 42px;
				height: 33px;
				margin-left: -21px;

				.icon-big-quot-start;
			}

			.no-svg &:before {
				.sprite-image(@big-quot-start);
				.sprite-position(@big-quot-start);
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				bottom: 0;

				width: 42px;
				height: 33px;
				margin-left: -21px;

				.icon-big-quot-end;
			}

			.no-svg &:after {
				.sprite-image(@big-quot-end);
				.sprite-position(@big-quot-end);
			}

			p {
				padding: 15px 0;
			}
		}
	}

	&_quota-author {

		color: #fff;

		span {
			display: block;
		}

		&-name {
			.fs(18px, 20px);
			font-family: @font-bold;
			font-weight: normal;
			margin-bottom: 2px;
			
			@media screen and (max-width: 619px) {
				.fs(15px, 20px);		
			}
		}

		&-position {
			.fs(15px, 18px);
			
			@media screen and (max-width: 619px) {
				.fs(13px, 20px);		
			}
		}

	}


}