/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */



html, body {
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}


pre,
figure,
dl,
dd,
dt,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
form,
html,
body {
    padding: 0;
    margin: 0;
}
img {
    vertical-align: top;

    -ms-interpolation-mode: bicubic;
    border: 0;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style-type: none;
}
:focus {
    outline: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.clear {
    visibility: hidden;
    clear: both;

    height: 1px;

    font-size: 1px;
}
ins {
    text-decoration: none;
}
input,
textarea,
select {
    margin: 0;
}
a {
    cursor: pointer;
}
sup {
    vertical-align: baseline;
}
.cfix:before,
.cfix:after {
    display: table;

    content: '';
}
.cfix:after {
    clear: both;
}
fieldset {
    padding: 0;
    margin: 0;

    border: 0;

    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
}
textarea {
    overflow: auto;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;

    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;

    border: 0;
}
