
.short {
    &-summary {
        padding: 60px 0;
    }
    &-about {
        .icon-big-paw;

        background-position: center center;
        .no-svg & {
            background-image: url('@{imgPath}/paw.png');
        }
    }
}
