
/* Slider
*******************************************************************************************************************************/

.slider {

	height: 760px;

	&-wrapper {
		position: relative;
		z-index: 1;
	}

	&_slide {

		height: 100%;
		float: left;
		position: relative;

		background-repeat: no-repeat;
		background-position: center top;
	}

	&_prev-slide,
	&_next-slide {
		position: absolute;
		top: 20%;
		z-index: 35;

		display: block;
		height: 60%;
		width: 80px;

		@media screen and (max-width: 1020px) {
			width: 140px;
		}

		@media screen and (max-width: 760px) {
			width: 160px;
		}

		@media screen and (max-width: 639px) {
			display: none !important;
		}

		@media screen and (max-width: 320px) {
			display: none !important;
		}

		.no-svg & {
	        .transition(none);

	        &:before {
		        .transition(none);
	        }

	        &:hover,
	        &:focus {
	        	.transition(none);

	        	&:before {
			        .transition(none);
		        }
	        }
	    }

		&:before {
			content: '';
			position: absolute;
			top: 50%;

			display: block;
			height: 55px;
			width: 19px;
			margin-top: -28px;
		}
	}

	&_prev-slide {
		left: 0;

		&:before {
			left: 20px;

    		@media screen and (min-width: 1261px) {
    			left: 30px;
    		}

			@media screen and (max-width: 1020px) {
				left: 20px;
			}

			// @media screen and (max-width: 760px) {
			// 	left: 90px;
			// }

			.icon-left-arrow-white;

			.no-svg & {
				// background-image: url('@{imgPath}/left-arrow-white.png');
				.sprite-image(@left-arrow-white);
				.sprite-position(@left-arrow-white);
			}
		}

		&:hover,
		&:focus {

			&:before {

				.icon-left-arrow-green;

				.no-svg & {
					// background-image: url('@{imgPath}/left-arrow-green.png');
					.sprite-image(@left-arrow-green);
					.sprite-position(@left-arrow-green);
				}
			}
		}
	}

	&_next-slide {
		right: 0;

		&:before {
			right: 20px;

			@media all and (min-width: 1261px) {
    			right: 30px;
    		}

			@media screen and (max-width: 1020px) {
				right: 20px;
			}

			// @media screen and (max-width: 760px) {
			// 	right: 90px;
			// }

			.icon-right-arrow-white;

			.no-svg & {
				// background-image: url('@{imgPath}/right-arrow-white.png');
				.sprite-image(@right-arrow-white);
				.sprite-position(@right-arrow-white);
			}
		}

		&:hover,
		&:focus {

			&:before {
				.icon-right-arrow-green;

				.no-svg & {
					// background-image: url('@{imgPath}/right-arrow-green.png');
					.sprite-image(@right-arrow-green);
					.sprite-position(@right-arrow-green);
				}
			}
		}
	}

	&_pagination {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 22px;
		z-index: 35;

		width: 100%;
		height: 14px;

		text-align: center;

		a {
			display: inline-block;
			vertical-align: top;

			height: 14px;
			width: 14px;
			margin-left: 40px;

			background-color: transparent;

			border: 3px solid #fff;
			.border-radius(100%);

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				border-color: @brd-green;
			}

			&.selected {
				background-color: #fff;
				border-width: 7px;

				&:hover {
					border-color: #fff;
				}
			}
		}

		span {
			display: none;
		}
	}
}