/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@amazonstore-name: amazonstore;
@amazonstore-x: 0px;
@amazonstore-y: 295px;
@amazonstore-offset-x: 0px;
@amazonstore-offset-y: -295px;
@amazonstore-width: 212px;
@amazonstore-height: 60px;
@amazonstore-total-width: 665px;
@amazonstore-total-height: 562px;
@amazonstore-image: '../img/sprite.png';
@amazonstore: 0px 295px 0px -295px 212px 60px 665px 562px '../img/sprite.png' amazonstore;
@appstore-name: appstore;
@appstore-x: 290px;
@appstore-y: 365px;
@appstore-offset-x: -290px;
@appstore-offset-y: -365px;
@appstore-width: 212px;
@appstore-height: 60px;
@appstore-total-width: 665px;
@appstore-total-height: 562px;
@appstore-image: '../img/sprite.png';
@appstore: 290px 365px -290px -365px 212px 60px 665px 562px '../img/sprite.png' appstore;
@big-ok-name: big-ok;
@big-ok-x: 275px;
@big-ok-y: 0px;
@big-ok-offset-x: -275px;
@big-ok-offset-y: 0px;
@big-ok-width: 100px;
@big-ok-height: 100px;
@big-ok-total-width: 665px;
@big-ok-total-height: 562px;
@big-ok-image: '../img/sprite.png';
@big-ok: 275px 0px -275px 0px 100px 100px 665px 562px '../img/sprite.png' big-ok;
@big-quot-end-name: big-quot-end;
@big-quot-end-x: 608px;
@big-quot-end-y: 435px;
@big-quot-end-offset-x: -608px;
@big-quot-end-offset-y: -435px;
@big-quot-end-width: 42px;
@big-quot-end-height: 33px;
@big-quot-end-total-width: 665px;
@big-quot-end-total-height: 562px;
@big-quot-end-image: '../img/sprite.png';
@big-quot-end: 608px 435px -608px -435px 42px 33px 665px 562px '../img/sprite.png' big-quot-end;
@big-quot-start-name: big-quot-start;
@big-quot-start-x: 575px;
@big-quot-start-y: 365px;
@big-quot-start-offset-x: -575px;
@big-quot-start-offset-y: -365px;
@big-quot-start-width: 42px;
@big-quot-start-height: 33px;
@big-quot-start-total-width: 665px;
@big-quot-start-total-height: 562px;
@big-quot-start-image: '../img/sprite.png';
@big-quot-start: 575px 365px -575px -365px 42px 33px 665px 562px '../img/sprite.png' big-quot-start;
@gplay-name: gplay;
@gplay-x: 385px;
@gplay-y: 140px;
@gplay-offset-x: -385px;
@gplay-offset-y: -140px;
@gplay-width: 214px;
@gplay-height: 60px;
@gplay-total-width: 665px;
@gplay-total-height: 562px;
@gplay-image: '../img/sprite.png';
@gplay: 385px 140px -385px -140px 214px 60px 665px 562px '../img/sprite.png' gplay;
@icon-attach-hover-name: icon-attach-hover;
@icon-attach-hover-x: 582px;
@icon-attach-hover-y: 499px;
@icon-attach-hover-offset-x: -582px;
@icon-attach-hover-offset-y: -499px;
@icon-attach-hover-width: 21px;
@icon-attach-hover-height: 21px;
@icon-attach-hover-total-width: 665px;
@icon-attach-hover-total-height: 562px;
@icon-attach-hover-image: '../img/sprite.png';
@icon-attach-hover: 582px 499px -582px -499px 21px 21px 665px 562px '../img/sprite.png' icon-attach-hover;
@icon-attach-name: icon-attach;
@icon-attach-x: 644px;
@icon-attach-y: 499px;
@icon-attach-offset-x: -644px;
@icon-attach-offset-y: -499px;
@icon-attach-width: 21px;
@icon-attach-height: 21px;
@icon-attach-total-width: 665px;
@icon-attach-total-height: 562px;
@icon-attach-image: '../img/sprite.png';
@icon-attach: 644px 499px -644px -499px 21px 21px 665px 562px '../img/sprite.png' icon-attach;
@icon-delete-hover-name: icon-delete-hover;
@icon-delete-hover-x: 0px;
@icon-delete-hover-y: 541px;
@icon-delete-hover-offset-x: 0px;
@icon-delete-hover-offset-y: -541px;
@icon-delete-hover-width: 21px;
@icon-delete-hover-height: 21px;
@icon-delete-hover-total-width: 665px;
@icon-delete-hover-total-height: 562px;
@icon-delete-hover-image: '../img/sprite.png';
@icon-delete-hover: 0px 541px 0px -541px 21px 21px 665px 562px '../img/sprite.png' icon-delete-hover;
@icon-delete-name: icon-delete;
@icon-delete-x: 613px;
@icon-delete-y: 499px;
@icon-delete-offset-x: -613px;
@icon-delete-offset-y: -499px;
@icon-delete-width: 21px;
@icon-delete-height: 21px;
@icon-delete-total-width: 665px;
@icon-delete-total-height: 562px;
@icon-delete-image: '../img/sprite.png';
@icon-delete: 613px 499px -613px -499px 21px 21px 665px 562px '../img/sprite.png' icon-delete;
@icon-fau-active-name: icon-fau-active;
@icon-fau-active-x: 609px;
@icon-fau-active-y: 140px;
@icon-fau-active-offset-x: -609px;
@icon-fau-active-offset-y: -140px;
@icon-fau-active-width: 48px;
@icon-fau-active-height: 56px;
@icon-fau-active-total-width: 665px;
@icon-fau-active-total-height: 562px;
@icon-fau-active-image: '../img/sprite.png';
@icon-fau-active: 609px 140px -609px -140px 48px 56px 665px 562px '../img/sprite.png' icon-fau-active;
@icon-fau-name: icon-fau;
@icon-fau-x: 467px;
@icon-fau-y: 210px;
@icon-fau-offset-x: -467px;
@icon-fau-offset-y: -210px;
@icon-fau-width: 48px;
@icon-fau-height: 56px;
@icon-fau-total-width: 665px;
@icon-fau-total-height: 562px;
@icon-fau-image: '../img/sprite.png';
@icon-fau: 467px 210px -467px -210px 48px 56px 665px 562px '../img/sprite.png' icon-fau;
@icon-fb-big-violet-name: icon-fb-big-violet;
@icon-fb-big-violet-x: 82px;
@icon-fb-big-violet-y: 499px;
@icon-fb-big-violet-offset-x: -82px;
@icon-fb-big-violet-offset-y: -499px;
@icon-fb-big-violet-width: 15px;
@icon-fb-big-violet-height: 29px;
@icon-fb-big-violet-total-width: 665px;
@icon-fb-big-violet-total-height: 562px;
@icon-fb-big-violet-image: '../img/sprite.png';
@icon-fb-big-violet: 82px 499px -82px -499px 15px 29px 665px 562px '../img/sprite.png' icon-fb-big-violet;
@icon-fb-big-white-name: icon-fb-big-white;
@icon-fb-big-white-x: 352px;
@icon-fb-big-white-y: 295px;
@icon-fb-big-white-offset-x: -352px;
@icon-fb-big-white-offset-y: -295px;
@icon-fb-big-white-width: 15px;
@icon-fb-big-white-height: 29px;
@icon-fb-big-white-total-width: 665px;
@icon-fb-big-white-total-height: 562px;
@icon-fb-big-white-image: '../img/sprite.png';
@icon-fb-big-white: 352px 295px -352px -295px 15px 29px 665px 562px '../img/sprite.png' icon-fb-big-white;
@icon-fb-hover-name: icon-fb-hover;
@icon-fb-hover-x: 353px;
@icon-fb-hover-y: 499px;
@icon-fb-hover-offset-x: -353px;
@icon-fb-hover-offset-y: -499px;
@icon-fb-hover-width: 12px;
@icon-fb-hover-height: 24px;
@icon-fb-hover-total-width: 665px;
@icon-fb-hover-total-height: 562px;
@icon-fb-hover-image: '../img/sprite.png';
@icon-fb-hover: 353px 499px -353px -499px 12px 24px 665px 562px '../img/sprite.png' icon-fb-hover;
@icon-fb-huge-violet-name: icon-fb-huge-violet;
@icon-fb-huge-violet-x: 342px;
@icon-fb-huge-violet-y: 175px;
@icon-fb-huge-violet-offset-x: -342px;
@icon-fb-huge-violet-offset-y: -175px;
@icon-fb-huge-violet-width: 23px;
@icon-fb-huge-violet-height: 46px;
@icon-fb-huge-violet-total-width: 665px;
@icon-fb-huge-violet-total-height: 562px;
@icon-fb-huge-violet-image: '../img/sprite.png';
@icon-fb-huge-violet: 342px 175px -342px -175px 23px 46px 665px 562px '../img/sprite.png' icon-fb-huge-violet;
@icon-fb-huge-white-name: icon-fb-huge-white;
@icon-fb-huge-white-x: 333px;
@icon-fb-huge-white-y: 110px;
@icon-fb-huge-white-offset-x: -333px;
@icon-fb-huge-white-offset-y: -110px;
@icon-fb-huge-white-width: 23px;
@icon-fb-huge-white-height: 46px;
@icon-fb-huge-white-total-width: 665px;
@icon-fb-huge-white-total-height: 562px;
@icon-fb-huge-white-image: '../img/sprite.png';
@icon-fb-huge-white: 333px 110px -333px -110px 23px 46px 665px 562px '../img/sprite.png' icon-fb-huge-white;
@icon-fb-name: icon-fb;
@icon-fb-x: 416px;
@icon-fb-y: 499px;
@icon-fb-offset-x: -416px;
@icon-fb-offset-y: -499px;
@icon-fb-width: 12px;
@icon-fb-height: 24px;
@icon-fb-total-width: 665px;
@icon-fb-total-height: 562px;
@icon-fb-image: '../img/sprite.png';
@icon-fb: 416px 499px -416px -499px 12px 24px 665px 562px '../img/sprite.png' icon-fb;
@icon-instagram-big-violet-name: icon-instagram-big-violet;
@icon-instagram-big-violet-x: 627px;
@icon-instagram-big-violet-y: 365px;
@icon-instagram-big-violet-offset-x: -627px;
@icon-instagram-big-violet-offset-y: -365px;
@icon-instagram-big-violet-width: 32px;
@icon-instagram-big-violet-height: 32px;
@icon-instagram-big-violet-total-width: 665px;
@icon-instagram-big-violet-total-height: 562px;
@icon-instagram-big-violet-image: '../img/sprite.png';
@icon-instagram-big-violet: 627px 365px -627px -365px 32px 32px 665px 562px '../img/sprite.png' icon-instagram-big-violet;
@icon-instagram-big-white-name: icon-instagram-big-white;
@icon-instagram-big-white-x: 0px;
@icon-instagram-big-white-y: 499px;
@icon-instagram-big-white-offset-x: 0px;
@icon-instagram-big-white-offset-y: -499px;
@icon-instagram-big-white-width: 32px;
@icon-instagram-big-white-height: 32px;
@icon-instagram-big-white-total-width: 665px;
@icon-instagram-big-white-total-height: 562px;
@icon-instagram-big-white-image: '../img/sprite.png';
@icon-instagram-big-white: 0px 499px 0px -499px 32px 32px 665px 562px '../img/sprite.png' icon-instagram-big-white;
@icon-linkedin-big-violet-name: icon-linkedin-big-violet;
@icon-linkedin-big-violet-x: 186px;
@icon-linkedin-big-violet-y: 499px;
@icon-linkedin-big-violet-offset-x: -186px;
@icon-linkedin-big-violet-offset-y: -499px;
@icon-linkedin-big-violet-width: 29px;
@icon-linkedin-big-violet-height: 28px;
@icon-linkedin-big-violet-total-width: 665px;
@icon-linkedin-big-violet-total-height: 562px;
@icon-linkedin-big-violet-image: '../img/sprite.png';
@icon-linkedin-big-violet: 186px 499px -186px -499px 29px 28px 665px 562px '../img/sprite.png' icon-linkedin-big-violet;
@icon-linkedin-big-white-name: icon-linkedin-big-white;
@icon-linkedin-big-white-x: 147px;
@icon-linkedin-big-white-y: 499px;
@icon-linkedin-big-white-offset-x: -147px;
@icon-linkedin-big-white-offset-y: -499px;
@icon-linkedin-big-white-width: 29px;
@icon-linkedin-big-white-height: 28px;
@icon-linkedin-big-white-total-width: 665px;
@icon-linkedin-big-white-total-height: 562px;
@icon-linkedin-big-white-image: '../img/sprite.png';
@icon-linkedin-big-white: 147px 499px -147px -499px 29px 28px 665px 562px '../img/sprite.png' icon-linkedin-big-white;
@icon-linkedin-small-hover-name: icon-linkedin-small-hover;
@icon-linkedin-small-hover-x: 438px;
@icon-linkedin-small-hover-y: 499px;
@icon-linkedin-small-hover-offset-x: -438px;
@icon-linkedin-small-hover-offset-y: -499px;
@icon-linkedin-small-hover-width: 24px;
@icon-linkedin-small-hover-height: 24px;
@icon-linkedin-small-hover-total-width: 665px;
@icon-linkedin-small-hover-total-height: 562px;
@icon-linkedin-small-hover-image: '../img/sprite.png';
@icon-linkedin-small-hover: 438px 499px -438px -499px 24px 24px 665px 562px '../img/sprite.png' icon-linkedin-small-hover;
@icon-linkedin-small-name: icon-linkedin-small;
@icon-linkedin-small-x: 472px;
@icon-linkedin-small-y: 499px;
@icon-linkedin-small-offset-x: -472px;
@icon-linkedin-small-offset-y: -499px;
@icon-linkedin-small-width: 24px;
@icon-linkedin-small-height: 24px;
@icon-linkedin-small-total-width: 665px;
@icon-linkedin-small-total-height: 562px;
@icon-linkedin-small-image: '../img/sprite.png';
@icon-linkedin-small: 472px 499px -472px -499px 24px 24px 665px 562px '../img/sprite.png' icon-linkedin-small;
@icon-linkedin-name: icon-linkedin;
@icon-linkedin-x: 319px;
@icon-linkedin-y: 499px;
@icon-linkedin-offset-x: -319px;
@icon-linkedin-offset-y: -499px;
@icon-linkedin-width: 24px;
@icon-linkedin-height: 24px;
@icon-linkedin-total-width: 665px;
@icon-linkedin-total-height: 562px;
@icon-linkedin-image: '../img/sprite.png';
@icon-linkedin: 319px 499px -319px -499px 24px 24px 665px 562px '../img/sprite.png' icon-linkedin;
@icon-mail-hover-name: icon-mail-hover;
@icon-mail-hover-x: 114px;
@icon-mail-hover-y: 541px;
@icon-mail-hover-offset-x: -114px;
@icon-mail-hover-offset-y: -541px;
@icon-mail-hover-width: 23px;
@icon-mail-hover-height: 18px;
@icon-mail-hover-total-width: 665px;
@icon-mail-hover-total-height: 562px;
@icon-mail-hover-image: '../img/sprite.png';
@icon-mail-hover: 114px 541px -114px -541px 23px 18px 665px 562px '../img/sprite.png' icon-mail-hover;
@icon-mail-name: icon-mail;
@icon-mail-x: 81px;
@icon-mail-y: 541px;
@icon-mail-offset-x: -81px;
@icon-mail-offset-y: -541px;
@icon-mail-width: 23px;
@icon-mail-height: 18px;
@icon-mail-total-width: 665px;
@icon-mail-total-height: 562px;
@icon-mail-image: '../img/sprite.png';
@icon-mail: 81px 541px -81px -541px 23px 18px 665px 562px '../img/sprite.png' icon-mail;
@icon-mailru-active-name: icon-mailru-active;
@icon-mailru-active-x: 222px;
@icon-mailru-active-y: 295px;
@icon-mailru-active-offset-x: -222px;
@icon-mailru-active-offset-y: -295px;
@icon-mailru-active-width: 57px;
@icon-mailru-active-height: 55px;
@icon-mailru-active-total-width: 665px;
@icon-mailru-active-total-height: 562px;
@icon-mailru-active-image: '../img/sprite.png';
@icon-mailru-active: 222px 295px -222px -295px 57px 55px 665px 562px '../img/sprite.png' icon-mailru-active;
@icon-mailru-name: icon-mailru;
@icon-mailru-x: 275px;
@icon-mailru-y: 175px;
@icon-mailru-offset-x: -275px;
@icon-mailru-offset-y: -175px;
@icon-mailru-width: 57px;
@icon-mailru-height: 55px;
@icon-mailru-total-width: 665px;
@icon-mailru-total-height: 562px;
@icon-mailru-image: '../img/sprite.png';
@icon-mailru: 275px 175px -275px -175px 57px 55px 665px 562px '../img/sprite.png' icon-mailru;
@icon-odn-active-name: icon-odn-active;
@icon-odn-active-x: 568px;
@icon-odn-active-y: 210px;
@icon-odn-active-offset-x: -568px;
@icon-odn-active-offset-y: -210px;
@icon-odn-active-width: 33px;
@icon-odn-active-height: 56px;
@icon-odn-active-total-width: 665px;
@icon-odn-active-total-height: 562px;
@icon-odn-active-image: '../img/sprite.png';
@icon-odn-active: 568px 210px -568px -210px 33px 56px 665px 562px '../img/sprite.png' icon-odn-active;
@icon-odn-name: icon-odn;
@icon-odn-x: 525px;
@icon-odn-y: 210px;
@icon-odn-offset-x: -525px;
@icon-odn-offset-y: -210px;
@icon-odn-width: 33px;
@icon-odn-height: 56px;
@icon-odn-total-width: 665px;
@icon-odn-total-height: 562px;
@icon-odn-image: '../img/sprite.png';
@icon-odn: 525px 210px -525px -210px 33px 56px 665px 562px '../img/sprite.png' icon-odn;
@icon-rw-active-name: icon-rw-active;
@icon-rw-active-x: 500px;
@icon-rw-active-y: 435px;
@icon-rw-active-offset-x: -500px;
@icon-rw-active-offset-y: -435px;
@icon-rw-active-width: 98px;
@icon-rw-active-height: 46px;
@icon-rw-active-total-width: 665px;
@icon-rw-active-total-height: 562px;
@icon-rw-active-image: '../img/sprite.png';
@icon-rw-active: 500px 435px -500px -435px 98px 46px 665px 562px '../img/sprite.png' icon-rw-active;
@icon-rw-name: icon-rw;
@icon-rw-x: 392px;
@icon-rw-y: 435px;
@icon-rw-offset-x: -392px;
@icon-rw-offset-y: -435px;
@icon-rw-width: 98px;
@icon-rw-height: 46px;
@icon-rw-total-width: 665px;
@icon-rw-total-height: 562px;
@icon-rw-image: '../img/sprite.png';
@icon-rw: 392px 435px -392px -435px 98px 46px 665px 562px '../img/sprite.png' icon-rw;
@icon-tw-big-violet-name: icon-tw-big-violet;
@icon-tw-big-violet-x: 506px;
@icon-tw-big-violet-y: 499px;
@icon-tw-big-violet-offset-x: -506px;
@icon-tw-big-violet-offset-y: -499px;
@icon-tw-big-violet-width: 28px;
@icon-tw-big-violet-height: 23px;
@icon-tw-big-violet-total-width: 665px;
@icon-tw-big-violet-total-height: 562px;
@icon-tw-big-violet-image: '../img/sprite.png';
@icon-tw-big-violet: 506px 499px -506px -499px 28px 23px 665px 562px '../img/sprite.png' icon-tw-big-violet;
@icon-tw-big-white-name: icon-tw-big-white;
@icon-tw-big-white-x: 544px;
@icon-tw-big-white-y: 499px;
@icon-tw-big-white-offset-x: -544px;
@icon-tw-big-white-offset-y: -499px;
@icon-tw-big-white-width: 28px;
@icon-tw-big-white-height: 23px;
@icon-tw-big-white-total-width: 665px;
@icon-tw-big-white-total-height: 562px;
@icon-tw-big-white-image: '../img/sprite.png';
@icon-tw-big-white: 544px 499px -544px -499px 28px 23px 665px 562px '../img/sprite.png' icon-tw-big-white;
@icon-vk-active-name: icon-vk-active;
@icon-vk-active-x: 320px;
@icon-vk-active-y: 240px;
@icon-vk-active-offset-x: -320px;
@icon-vk-active-offset-y: -240px;
@icon-vk-active-width: 35px;
@icon-vk-active-height: 44px;
@icon-vk-active-total-width: 665px;
@icon-vk-active-total-height: 562px;
@icon-vk-active-image: '../img/sprite.png';
@icon-vk-active: 320px 240px -320px -240px 35px 44px 665px 562px '../img/sprite.png' icon-vk-active;
@icon-vk-small-hover-name: icon-vk-small-hover;
@icon-vk-small-hover-x: 31px;
@icon-vk-small-hover-y: 541px;
@icon-vk-small-hover-offset-x: -31px;
@icon-vk-small-hover-offset-y: -541px;
@icon-vk-small-hover-width: 15px;
@icon-vk-small-hover-height: 19px;
@icon-vk-small-hover-total-width: 665px;
@icon-vk-small-hover-total-height: 562px;
@icon-vk-small-hover-image: '../img/sprite.png';
@icon-vk-small-hover: 31px 541px -31px -541px 15px 19px 665px 562px '../img/sprite.png' icon-vk-small-hover;
@icon-vk-small-name: icon-vk-small;
@icon-vk-small-x: 56px;
@icon-vk-small-y: 541px;
@icon-vk-small-offset-x: -56px;
@icon-vk-small-offset-y: -541px;
@icon-vk-small-width: 15px;
@icon-vk-small-height: 19px;
@icon-vk-small-total-width: 665px;
@icon-vk-small-total-height: 562px;
@icon-vk-small-image: '../img/sprite.png';
@icon-vk-small: 56px 541px -56px -541px 15px 19px 665px 562px '../img/sprite.png' icon-vk-small;
@icon-vk-name: icon-vk;
@icon-vk-x: 275px;
@icon-vk-y: 240px;
@icon-vk-offset-x: -275px;
@icon-vk-offset-y: -240px;
@icon-vk-width: 35px;
@icon-vk-height: 44px;
@icon-vk-total-width: 665px;
@icon-vk-total-height: 562px;
@icon-vk-image: '../img/sprite.png';
@icon-vk: 275px 240px -275px -240px 35px 44px 665px 562px '../img/sprite.png' icon-vk;
@icon-yahoo-active-name: icon-yahoo-active;
@icon-yahoo-active-x: 289px;
@icon-yahoo-active-y: 295px;
@icon-yahoo-active-offset-x: -289px;
@icon-yahoo-active-offset-y: -295px;
@icon-yahoo-active-width: 53px;
@icon-yahoo-active-height: 53px;
@icon-yahoo-active-total-width: 665px;
@icon-yahoo-active-total-height: 562px;
@icon-yahoo-active-image: '../img/sprite.png';
@icon-yahoo-active: 289px 295px -289px -295px 53px 53px 665px 562px '../img/sprite.png' icon-yahoo-active;
@icon-yahoo-name: icon-yahoo;
@icon-yahoo-x: 512px;
@icon-yahoo-y: 365px;
@icon-yahoo-offset-x: -512px;
@icon-yahoo-offset-y: -365px;
@icon-yahoo-width: 53px;
@icon-yahoo-height: 53px;
@icon-yahoo-total-width: 665px;
@icon-yahoo-total-height: 562px;
@icon-yahoo-image: '../img/sprite.png';
@icon-yahoo: 512px 365px -512px -365px 53px 53px 665px 562px '../img/sprite.png' icon-yahoo;
@icon-youtube-big-violet-name: icon-youtube-big-violet;
@icon-youtube-big-violet-x: 272px;
@icon-youtube-big-violet-y: 499px;
@icon-youtube-big-violet-offset-x: -272px;
@icon-youtube-big-violet-offset-y: -499px;
@icon-youtube-big-violet-width: 37px;
@icon-youtube-big-violet-height: 26px;
@icon-youtube-big-violet-total-width: 665px;
@icon-youtube-big-violet-total-height: 562px;
@icon-youtube-big-violet-image: '../img/sprite.png';
@icon-youtube-big-violet: 272px 499px -272px -499px 37px 26px 665px 562px '../img/sprite.png' icon-youtube-big-violet;
@icon-youtube-big-white-name: icon-youtube-big-white;
@icon-youtube-big-white-x: 225px;
@icon-youtube-big-white-y: 499px;
@icon-youtube-big-white-offset-x: -225px;
@icon-youtube-big-white-offset-y: -499px;
@icon-youtube-big-white-width: 37px;
@icon-youtube-big-white-height: 26px;
@icon-youtube-big-white-total-width: 665px;
@icon-youtube-big-white-total-height: 562px;
@icon-youtube-big-white-image: '../img/sprite.png';
@icon-youtube-big-white: 225px 499px -225px -499px 37px 26px 665px 562px '../img/sprite.png' icon-youtube-big-white;
@left-arrow-green-name: left-arrow-green;
@left-arrow-green-x: 304px;
@left-arrow-green-y: 110px;
@left-arrow-green-offset-x: -304px;
@left-arrow-green-offset-y: -110px;
@left-arrow-green-width: 19px;
@left-arrow-green-height: 55px;
@left-arrow-green-total-width: 665px;
@left-arrow-green-total-height: 562px;
@left-arrow-green-image: '../img/sprite.png';
@left-arrow-green: 304px 110px -304px -110px 19px 55px 665px 562px '../img/sprite.png' left-arrow-green;
@left-arrow-hover-name: left-arrow-hover;
@left-arrow-hover-x: 0px;
@left-arrow-hover-y: 365px;
@left-arrow-hover-offset-x: 0px;
@left-arrow-hover-offset-y: -365px;
@left-arrow-hover-width: 280px;
@left-arrow-hover-height: 60px;
@left-arrow-hover-total-width: 665px;
@left-arrow-hover-total-height: 562px;
@left-arrow-hover-image: '../img/sprite.png';
@left-arrow-hover: 0px 365px 0px -365px 280px 60px 665px 562px '../img/sprite.png' left-arrow-hover;
@left-arrow-white-name: left-arrow-white;
@left-arrow-white-x: 640px;
@left-arrow-white-y: 210px;
@left-arrow-white-offset-x: -640px;
@left-arrow-white-offset-y: -210px;
@left-arrow-white-width: 19px;
@left-arrow-white-height: 55px;
@left-arrow-white-total-width: 665px;
@left-arrow-white-total-height: 562px;
@left-arrow-white-image: '../img/sprite.png';
@left-arrow-white: 640px 210px -640px -210px 19px 55px 665px 562px '../img/sprite.png' left-arrow-white;
@left-arrow-name: left-arrow;
@left-arrow-x: 385px;
@left-arrow-y: 280px;
@left-arrow-offset-x: -385px;
@left-arrow-offset-y: -280px;
@left-arrow-width: 280px;
@left-arrow-height: 60px;
@left-arrow-total-width: 665px;
@left-arrow-total-height: 562px;
@left-arrow-image: '../img/sprite.png';
@left-arrow: 385px 280px -385px -280px 280px 60px 665px 562px '../img/sprite.png' left-arrow;
@logo-violet-name: logo-violet;
@logo-violet-x: 196px;
@logo-violet-y: 435px;
@logo-violet-offset-x: -196px;
@logo-violet-offset-y: -435px;
@logo-violet-width: 186px;
@logo-violet-height: 54px;
@logo-violet-total-width: 665px;
@logo-violet-total-height: 562px;
@logo-violet-image: '../img/sprite.png';
@logo-violet: 196px 435px -196px -435px 186px 54px 665px 562px '../img/sprite.png' logo-violet;
@logo-name: logo;
@logo-x: 0px;
@logo-y: 435px;
@logo-offset-x: 0px;
@logo-offset-y: -435px;
@logo-width: 186px;
@logo-height: 54px;
@logo-total-width: 665px;
@logo-total-height: 562px;
@logo-image: '../img/sprite.png';
@logo: 0px 435px 0px -435px 186px 54px 665px 562px '../img/sprite.png' logo;
@map-tip-name: map-tip;
@map-tip-x: 385px;
@map-tip-y: 210px;
@map-tip-offset-x: -385px;
@map-tip-offset-y: -210px;
@map-tip-width: 72px;
@map-tip-height: 60px;
@map-tip-total-width: 665px;
@map-tip-total-height: 562px;
@map-tip-image: '../img/sprite.png';
@map-tip: 385px 210px -385px -210px 72px 60px 665px 562px '../img/sprite.png' map-tip;
@paw-name: paw;
@paw-x: 0px;
@paw-y: 0px;
@paw-offset-x: 0px;
@paw-offset-y: 0px;
@paw-width: 265px;
@paw-height: 285px;
@paw-total-width: 665px;
@paw-total-height: 562px;
@paw-image: '../img/sprite.png';
@paw: 0px 0px 0px 0px 265px 285px 665px 562px '../img/sprite.png' paw;
@right-arrow-green-name: right-arrow-green;
@right-arrow-green-x: 275px;
@right-arrow-green-y: 110px;
@right-arrow-green-offset-x: -275px;
@right-arrow-green-offset-y: -110px;
@right-arrow-green-width: 19px;
@right-arrow-green-height: 55px;
@right-arrow-green-total-width: 665px;
@right-arrow-green-total-height: 562px;
@right-arrow-green-image: '../img/sprite.png';
@right-arrow-green: 275px 110px -275px -110px 19px 55px 665px 562px '../img/sprite.png' right-arrow-green;
@right-arrow-hover-name: right-arrow-hover;
@right-arrow-hover-x: 385px;
@right-arrow-hover-y: 70px;
@right-arrow-hover-offset-x: -385px;
@right-arrow-hover-offset-y: -70px;
@right-arrow-hover-width: 280px;
@right-arrow-hover-height: 60px;
@right-arrow-hover-total-width: 665px;
@right-arrow-hover-total-height: 562px;
@right-arrow-hover-image: '../img/sprite.png';
@right-arrow-hover: 385px 70px -385px -70px 280px 60px 665px 562px '../img/sprite.png' right-arrow-hover;
@right-arrow-white-name: right-arrow-white;
@right-arrow-white-x: 611px;
@right-arrow-white-y: 210px;
@right-arrow-white-offset-x: -611px;
@right-arrow-white-offset-y: -210px;
@right-arrow-white-width: 19px;
@right-arrow-white-height: 55px;
@right-arrow-white-total-width: 665px;
@right-arrow-white-total-height: 562px;
@right-arrow-white-image: '../img/sprite.png';
@right-arrow-white: 611px 210px -611px -210px 19px 55px 665px 562px '../img/sprite.png' right-arrow-white;
@right-arrow-name: right-arrow;
@right-arrow-x: 385px;
@right-arrow-y: 0px;
@right-arrow-offset-x: -385px;
@right-arrow-offset-y: 0px;
@right-arrow-width: 280px;
@right-arrow-height: 60px;
@right-arrow-total-width: 665px;
@right-arrow-total-height: 562px;
@right-arrow-image: '../img/sprite.png';
@right-arrow: 385px 0px -385px 0px 280px 60px 665px 562px '../img/sprite.png' right-arrow;
@small-check-green-name: small-check-green;
@small-check-green-x: 147px;
@small-check-green-y: 541px;
@small-check-green-offset-x: -147px;
@small-check-green-offset-y: -541px;
@small-check-green-width: 15px;
@small-check-green-height: 11px;
@small-check-green-total-width: 665px;
@small-check-green-total-height: 562px;
@small-check-green-image: '../img/sprite.png';
@small-check-green: 147px 541px -147px -541px 15px 11px 665px 562px '../img/sprite.png' small-check-green;
@small-check-name: small-check;
@small-check-x: 172px;
@small-check-y: 541px;
@small-check-offset-x: -172px;
@small-check-offset-y: -541px;
@small-check-width: 15px;
@small-check-height: 11px;
@small-check-total-width: 665px;
@small-check-total-height: 562px;
@small-check-image: '../img/sprite.png';
@small-check: 172px 541px -172px -541px 15px 11px 665px 562px '../img/sprite.png' small-check;
@small-cross-name: small-cross;
@small-cross-x: 352px;
@small-cross-y: 334px;
@small-cross-offset-x: -352px;
@small-cross-offset-y: -334px;
@small-cross-width: 12px;
@small-cross-height: 12px;
@small-cross-total-width: 665px;
@small-cross-total-height: 562px;
@small-cross-image: '../img/sprite.png';
@small-cross: 352px 334px -352px -334px 12px 12px 665px 562px '../img/sprite.png' small-cross;
@small-quot-name: small-quot;
@small-quot-x: 375px;
@small-quot-y: 499px;
@small-quot-offset-x: -375px;
@small-quot-offset-y: -499px;
@small-quot-width: 31px;
@small-quot-height: 24px;
@small-quot-total-width: 665px;
@small-quot-total-height: 562px;
@small-quot-image: '../img/sprite.png';
@small-quot: 375px 499px -375px -499px 31px 24px 665px 562px '../img/sprite.png' small-quot;
@vacancy-close-hover-name: vacancy-close-hover;
@vacancy-close-hover-x: 42px;
@vacancy-close-hover-y: 499px;
@vacancy-close-hover-offset-x: -42px;
@vacancy-close-hover-offset-y: -499px;
@vacancy-close-hover-width: 30px;
@vacancy-close-hover-height: 29px;
@vacancy-close-hover-total-width: 665px;
@vacancy-close-hover-total-height: 562px;
@vacancy-close-hover-image: '../img/sprite.png';
@vacancy-close-hover: 42px 499px -42px -499px 30px 29px 665px 562px '../img/sprite.png' vacancy-close-hover;
@vacancy-close-name: vacancy-close;
@vacancy-close-x: 107px;
@vacancy-close-y: 499px;
@vacancy-close-offset-x: -107px;
@vacancy-close-offset-y: -499px;
@vacancy-close-width: 30px;
@vacancy-close-height: 29px;
@vacancy-close-total-width: 665px;
@vacancy-close-total-height: 562px;
@vacancy-close-image: '../img/sprite.png';
@vacancy-close: 107px 499px -107px -499px 30px 29px 665px 562px '../img/sprite.png' vacancy-close;
@spritesheet-width: 665px;
@spritesheet-height: 562px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @amazonstore @appstore @big-ok @big-quot-end @big-quot-start @gplay @icon-attach-hover @icon-attach @icon-delete-hover @icon-delete @icon-fau-active @icon-fau @icon-fb-big-violet @icon-fb-big-white @icon-fb-hover @icon-fb-huge-violet @icon-fb-huge-white @icon-fb @icon-instagram-big-violet @icon-instagram-big-white @icon-linkedin-big-violet @icon-linkedin-big-white @icon-linkedin-small-hover @icon-linkedin-small @icon-linkedin @icon-mail-hover @icon-mail @icon-mailru-active @icon-mailru @icon-odn-active @icon-odn @icon-rw-active @icon-rw @icon-tw-big-violet @icon-tw-big-white @icon-vk-active @icon-vk-small-hover @icon-vk-small @icon-vk @icon-yahoo-active @icon-yahoo @icon-youtube-big-violet @icon-youtube-big-white @left-arrow-green @left-arrow-hover @left-arrow-white @left-arrow @logo-violet @logo @map-tip @paw @right-arrow-green @right-arrow-hover @right-arrow-white @right-arrow @small-check-green @small-check @small-cross @small-quot @vacancy-close-hover @vacancy-close;
@spritesheet: 665px 562px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
