
.stay-tuned  {
	
	min-height: 380px;
	padding-top: 54px;

	background-color: #6f2d76;
	background-image: url("@{tmpPath}/stay-tuned-bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}