/*Typography
**************************************************************************************************/

body {

	// .fs(18px, 30px);
    .fs(17px, 30px);    // thick font version
	font-family: @font-normal;
	color: @txt-dark-grey;
    font-weight: normal;
    @media screen and (max-width: 619px) {
        .fs(15px, 20px);
    }
}

//
// Text tools
// 

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h6 {
    font-family: @font-serif-bold;
    color: @txt-violet;
    font-weight: normal;
}

.title-h1 {
    .fs(70px, 80px);
    text-align: center;

    &--lined {
        position: relative;
        padding-bottom: 18px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;

            height: 3px;
            width: 60px;
            margin-left: -30px;

            background-color: @brd-green;
        }
        @media screen and (max-width: 619px) {
            padding-bottom: 20px;
        }
    }

    @media screen and (max-width: 619px) {
        .fs(50px, 60px);
    }
    .container & {
        @media screen and (max-width: 479px) {
            margin-left: -10px;
            margin-right: -10px;
            width: auto !important;
            display: block !important;
        }
    }

    &-number {
        margin-bottom: 5px;

        .fs(70px, 74px);
        font-family: @font-serif-normal;
        color: @txt-green;
        font-weight: normal;    
        text-align: center;

        @media screen and (max-width: 619px) {
            .fs(50px, 60px);
        }
    }
}

.title-h2 {
    .fs(50px, 60px);
    text-align: center;

    &--lined {
        position: relative;
        padding-bottom: 17px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;

            height: 3px;
            width: 60px;
            margin-left: -30px;

            background-color: @brd-green;
        }
    }

    .container & {
        @media screen and (max-width: 479px) {
            margin-left: -10px;
            margin-right: -10px;
            width: auto !important;
            display: block !important;
        }
    }

    @media screen and (max-width: 619px) {
        .fs(40px, 50px);
    }

    &--mobile-minimize {
        .fs(35px, 45px);
    }
}

.title-h3 {
    .fs(35px, 40px);
    text-align: center;
    @media screen and (max-width: 619px) {
        .fs(30px, 35px);
    }
}

.title-h4 {
    .fs(25px, 30px);
    text-align: center;
    @media screen and (max-width: 619px) {
        .fs(22px, 28px);
    }
}

.title-h5 {
    .fs(15px, 20px);
    font-family: @font-serif-normal;
    font-weight: normal;
    color: @txt-violet;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    // @media screen and (max-width: 479px) {
    //     .fs(13px, 17px);
    // }
}

.title-h6 {
    margin-bottom: 10px;
    .fs(18px, 20px);
    text-align: center;
    font-family: @font-serif-bold;
    font-weight: normal;
    @media screen and (max-width: 619px) {
        .fs(15px, 20px);
    }
}

.title {

    &-13,
    &-14,
    &-15 {
        font-family: @font-serif-bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        font-weight: normal;
    }
    &-13 {
        .fs(13px, 16px);
        @media screen and (max-width: 619px) {
            .fs(12px, 14px);
        }
    }
    &-14 {
        .fs(14px, 20px);
        @media screen and (max-width: 619px) {
            .fs(13px, 20px);
        }
    }
    &-15 {
        .fs(15px, 25px);
        @media screen and (max-width: 619px) {
            .fs(13px, 20px);
        }
    }

    &--light-grey {
        color: @txt-light-grey;

        a {
            color: @txt-violet;

            &:hover,
            &:focus {
                color: @txt-green;                
            }
        }
    }

    &-numbers {
        margin-bottom: -10px;

        .fs(60px, 70px);
        font-family: @font-serif-normal;
        color: @txt-green;
        text-align: center;
        font-weight: normal;

        vertical-align: bottom;

        @media screen and (max-width: 619px) {
            .fs(50px, 60px);
        }

        span {
            font-size: 30px;
            font-family: @font-serif-bold;
            line-height: 45px;
            font-weight: normal;

            vertical-align: bottom;

            @media screen and (max-width: 619px) {
                .fs(25px, 42px);
            }
        }
    }
}

.txt {
    &-normal {
        .fs(18px, 30px);
        color: @txt-dark-grey;

        @media screen and (max-width: 619px) {
            .fs(15px, 20px);
        }
    }

    &-medium-light {
        .fs(15px, 30px);
        color: @txt-light-grey;
        
        @media screen and (max-width: 619px) {
            .fs(13px, 20px);
        }
    }
    &-compressed {
        .fs(15px, 20px);
        color: @txt-grey;

        @media screen and (max-width: 619px) {
            .fs(13px, 20px);
        }

        p {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    //----------------------------------------

    //---------------------------------------------------
    &--white {
        color: @txt-white;
    }
    &--light-grey {
        color: @txt-light-grey;
    }
    &--grey {
        color: @txt-grey;
    }
}

a.no-link {
    color: @txt-dark-grey !important;
    text-decoration: none;
    cursor: text;

    &:hover,
    &:focus {
        cursor: text;
        text-decoration: none !important;
        color: @txt-dark-grey;
    }
}

br {
    display: inline;

    @media screen and (max-width: 899px) {
        display: none;
    }

}