
.vacancy-sended  {

	padding-top: 180px;
	
	&-ok-img {

		width: 120px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
		text-align: right;

		.icon-big-ok;
        background-position: right center;

        .no-svg & {
			background-image: none;
            // background-image: url('@{imgPath}/big-ok.png');
            &:before {
            	display: inline-block;
            	content: '';
            	.sprite(@big-ok);
            	vertical-align: top;
            }
        }
	}

	&-text {
		margin-bottom: 53px;
	}

	&-remark {
		margin-bottom: 18px;
	}
}