
.vacancy-open  {

	padding-top: 160px;

	&-description {

		margin-bottom: 55px;

		&-title {
			margin-bottom: 15px;

			text-align: left;
		}

		&-list {
			list-style: none outside none;
			text-align: left;
		}

		&-item {
			display: block;
			position: relative;
			
			padding-left: 21px;
			margin-bottom: 10px;

        	.fs(15px, 20px);
			color: @txt-grey;

			&:before {
	            content: '';
	            display: block;

	            position: absolute;
	            left: 0;
	            top: 5px;

	            width: 15px;
	            height: 11px;

	            .icon-small-check-green;
	            background-position: center center;

	            .no-svg & {
	                .sprite-image(@small-check-green);
					.sprite-position(@small-check-green);
	            }
	        }
		}
	}
	
	&-social {

		margin-top: 6px;
		margin-bottom: 18px;

		&_title {
			margin-bottom: 28px;

            color: @txt-light-grey;
		}
	}
}