
.vacancy  {
	
	.box-sizing();
	// position: fixed;
	// top: 0;
	// left: 0;
	z-index: 20;

	width: 100%;
	height: 100%;
	padding-top: 100px;

	background-color: #fff;
	// overflow: auto;

	&.hidden {
		// top: -100%;
		// z-index: 1;
		display: none;
		
	}
	
	
	&-header {
		position: relative;

		min-height: 100px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 29px;
		padding-bottom: 10px;

		text-align: center;

		@media screen and (max-width: 619px) {
	        padding-top: 26px;
	    }

		&-fixer {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;

			z-index: 22;

			&.hidden {
				// top: -100%;
				// z-index: 1;
				display: none;
			}
		}

		&-wrapper {
			background-color: @bg-violet;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 10;
		}

		&-position {
			margin-bottom: 11px;

			.fs(18px, 20px);
			text-transform: uppercase;
			font-family: @font-serif-normal;
			font-weight: normal;
			color: #fff;
			@media screen and (max-width: 619px) {
		        .fs(15px, 20px);
		    }	
		}

		&-price {
			.fs(15px, 17px);
			color: #ccc;
			@media screen and (max-width: 619px) {
		        .fs(13px, 16px);
		    }
		}

		&-close {
			position: absolute;
			right: 40px;
			top: 36px;
			@media screen and (max-width: 619px) {
		        right: 20px;
		        top: 30px;
		    }
		}
	}

	&-middle-part {
		// height: 100%;
		// overflow: auto;
		z-index: 21;
	}

	&-apply {
		padding-top: 160px;
	}
}