
.vacancy-from {

	padding-top: 22px;
	padding-bottom: 48px;

	&-list {
		text-align: center;
	}

	&-tag {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 11px;
		position: relative;
	}


	&-label {
		height: 40px;
        width: auto;
        display: inline-block;
        vertical-align: top;

		position: relative;
		padding-left: 36px;
		padding-right: 20px;
		.fs(15px, 38px);
        font-family: @font-normal;
        color: @txt-violet;
        white-space: nowrap;

        border: 1px solid @brd-violet;
        .border-radius(20px);
	}

	&-check {
		
		position: absolute;
		visibility: hidden !important;
		top: 50%;
		left: 50%;
		z-index: 2;

		+ label {
			position: relative;
			z-index: 3;
			cursor: pointer;
			.transition(all 0.2s linear);
			-moz-transition: none;
		}
		
  		+ label:before {
			content: '';
            display: inline-block;

            position: absolute;
            left: 12px;
            top: 13px;

            width: 15px;
            height: 12px;
            -moz-transition: none;
		}

		&:not(:checked) {

			+ label {
				-moz-transition: none;

				.no-svg & {
            		.transition(none);
            	}

				&:before {
					.transition(all 0.2s linear);
					-moz-transition: none;
					.icon-small-check;

		            .no-svg & {
		            	.transition(none);
		                // background-image: url('@{imgPath}/small-check.png');
		                .sprite-image(@small-check);
						.sprite-position(@small-check);
		            }
		        }

	            &:hover {
	            	.transition(all 0.2s linear);
	            	-moz-transition: none;
	            	color: #fff;
	            	border: 1px solid @brd-violet;
	            	background: @txt-violet;

	            	.no-svg & {
	            		.transition(none);
	            	}

	            	&:before {
		            	.transition(all 0.2s linear);
		            	-moz-transition: none;

						.icon-small-cross;

			            .no-svg & {
		            		.transition(none);

			                // background-image: url('@{imgPath}/small-cross.png');
			                .sprite-image(@small-cross);
							.sprite-position(@small-cross);
			            }
					}
	            }
			}
		}

		&:checked {

			+ label {

				color: #fff;
            	border: 1px solid @brd-violet;
            	background: @txt-violet;
            	-moz-transition: none;

				&:before {
					.icon-small-cross;
					-moz-transition: none;

		            .no-svg & {
		                // background-image: url('@{imgPath}/small-cross.png');
		                .sprite-image(@small-cross);
						.sprite-position(@small-cross);
		            }
				}
			}
		}
	}
}