// ---------------------------------------
// Colors
// ---------------------------------------
@white: 			#fff;
@black: 			#000;
@superlight-grey: 	#f1f1f1;
@light-grey: 		#999;
@grey: 				#666;
@dark-grey: 		#333;
@violet: 			#61116a;
@green: 			#b1dd33;
@blue: 				#0085ae;
@yellow: 			#ffffcd;



// Base background colors
// ---------------------------------------
@bg-white: 			#fff;
@bg-light-grey: 	@superlight-grey;
@bg-grey: 			@light-grey;
@bg-grey-disabled:  #ccc;
@bg-violet: 		@violet;
@bg-green: 			@green;
@bg-yellow:			@yellow;



// Base shading colors
// ---------------------------------------
@bg-shading-violet:	@violet;



// Base buttons color
// ---------------------------------------
@btn-white: 		#fff;
@btn-light-grey: 	@light-grey;
@btn-grey: 			#666;
@btn-dark-grey: 	#333;
@btn-violet: 		@violet;
@btn-green: 		@green;
@btn-blue: 			#0085ae;
@btn-yellow: 		#ffffcd;



// Base border colors
// ---------------------------------------
@brd-black:         #1a1a1a;
@brd-white: 		#fff;
@brd-light-grey: 	@light-grey;
@brd-supert-light: 	@superlight-grey;
@brd-grey: 			#666;
@brd-dark-grey: 	#333;
@brd-violet: 		@violet;
@brd-green: 		@green;
@brd-blue: 			#0085ae;
@brd-yellow: 		#ffffcd;

@brd-vacancy: 		#e4e4e4;



// Base text colors
// ---------------------------------------
@txt-black:         #1a1a1a;
@txt-white: 		#fff;
@txt-light-grey: 	@light-grey;
@txt-grey: 			#666;
@txt-grey-place: 	#999;
@txt-grey-disabled: #f1f1f1;
@txt-dark-grey: 	#333;
@txt-violet: 		@violet;
@txt-green: 		@green;



// Link colors
// ---------------------------------------
@link-white: 		#fff;
@link-light-grey: 	@light-grey;
@link-grey: 		#666;
@link-dark-grey: 	#333;
@link-violet: 		@violet;
@link-green: 		@green;
@link-blue: 		#0085ae;
@link-yellow: 		#ffffcd;



// Additional colors
// ---------------------------------------

@bg-linkedin: 		#0085ae;
@error:             #ff0000;




// ---------------------------------------
// Fonts & text
// ---------------------------------------


// Font Stacks
// ---------------------------------------


// Base fonts
//

// @font: 					'Roboto', Arial, Helvetica, sans-serif;
// @font-serif: 			'Roboto Slab', "Times New Roman", Times, serif;

// @font: 					'robotoregular', Arial, Helvetica, sans-serif;

@font-light: 			'robotolight', Arial, Helvetica, sans-serif;
// @font-normal: 			'robotoregular', Arial, Helvetica, sans-serif;
@font-normal: 			'robotolight', Arial, Helvetica, sans-serif;	// thick font version

@font-medium: 			'robotomedium', Arial, Helvetica, sans-serif;
@font-bold: 			'robotobold', Arial, Helvetica, sans-serif;
@font-xbold: 			'robotoblack', Arial, Helvetica, sans-serif;

// @font-serif: 			'roboto_slabbold', "Times New Roman", Times, serif;

@font-serif-light:		'roboto_slablight', "Times New Roman", Times, serif;
@font-serif-normal:		'roboto_slabregular', "Times New Roman", Times, serif;

@font-serif-bold:		'roboto_slabbold', "Times New Roman", Times, serif;

@font-serif-italic: 	"Palatino Linotype", "Book Antiqua", Palatino, "Century Schoolbook L", Georgia, serif;


// Text weights
//

// @light: 	300;
// @normal: 	400;
// @medium: 	500;
// @bold: 		700;
// @xbold: 	900;


// Grid

@grid-width: 1440px;


// Standart offset values for margins/paddings

@col-of-6-gutter: 10px;

@col-of-8-gutter: 10px;


// Images path
// ---------------------------------------

@imgPath: '../img';
@tmpPath: '../../temp';


// ---------------------------------------
// Components variables
// ---------------------------------------

// Header
// ---------------------------------------

// Components colors
// ---------------------------------------

// Navigation
// ---------------------------------------

// Tables
// ---------------------------------------

// Forms
// ---------------------------------------

// Buttons
// ---------------------------------------

